/* Element Selector */
p {
    color: red;
}

/* Id Selector : Unique, only single tag could use it to identify. */
#IS {
    color: red;
}

/* Class Selector 1 */
.CS1 {
    color: rgb(0, 255, 132);
}

/* Class Selector 2 */
.CS2 {
    font-size:  50px;
}

/* Class Selector with specific tag */
div.CS1
{
    color: blue;
}

/* Universal Selector : adjust all tags */
*
{
    margin: 0px;
    padding: 0px;
}