/* Reset CSS */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Body Styles */
body {
  background-color: #333; /* Change this to the color you want */
}

/* Header Styles */
.fixed-element {
  position: absolute;
  top: 200px;
  left: 0;
  width: 100%;
  color: #fff;
  padding: 10px;
  z-index: 999;
  font-size: 100px;
}

.slideshow-container {
  min-height: 300px;
  position: relative;
  margin: auto;
}

/* Slideshow Image Styles */
.Slideshow img {
  border-top-left-radius: 15px; 
  border-top-right-radius: 15px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

/* Slideshow Text Overlay Styles */
.text-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.7); /* Semi-transparent white background */
  padding: 10px;
}

/* Slideshow Navigation Buttons Styles */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Slideshow Caption Styles */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Slideshow Number Text Styles */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Dot Navigation Styles */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  top: 300px;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  z-index: 1000;
  position: relative;
}

.active, .dot:hover {
  background-color: #333;
}

/* Fading Animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}