---
import { Icon } from 'astro-icon/components';
---

<section class="not-prose">
  <div class="block max-w-6xl mx-auto px-4 sm:px-6 py-4 text-md text-center font-medium opacity-0 motion-safe:animate-fade">
    <span class="font-bold">
      <Icon name="tabler:info-square" class="w-5 h-5 inline-block align-text-bottom" /> Philosophy:</span
    > Even night brings me <b>Dark</b> eyes  
    I still looking for <b>Bright</b> - CHENG GU
  </div>
  <div class="mt-1 bg-stone-600 dark:bg-stone-400 h-[1px] w-[97.5%] ml-[1.25%] motion-safe:animate-fade"></div>
</section>
