---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Note from '~/components/widgets/Note.astro'
import LoadingScreen from '~/components/common/LoadingScreen.astro'

const metadata = {
  title: 'RaindowStudio — ZenDeiAn\'s personal blog website. Sharing my life :)',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <LoadingScreen></LoadingScreen>

  <!-- Hero Widget ******************* -->
  <Hero nextUrl='#afterHero'>
    <Fragment slot="title">
      <div class="index-hero-title">
      Even the sky is <span class="text-accent dark:text-rose-500 highlight">raining</span> though
      <br>
      Rainbow over the cloud still <span class="text-accent dark:text-rose-500 highlight">visible</span>
      </div>
    </Fragment>

    <Fragment slot="subtitle">
      A Life Style Defined by <span class="text-accent text-violet-800 dark:text-rose-500 highlight">ZenDeiAn</span>
    </Fragment>

    <Fragment slot="bg">
      <img class="block dark:hidden" id="index-hero-bg" src="/images/HomePage_Dark.jpg" alt="Light theme image">
      <img class="hidden dark:block" id="index-hero-bg" src="/images/HomePage_Light.jpg" alt="Dark theme image">
      <style>
        #index-hero-bg {
          width: 100%;        /* Allow the image to fully cover the width of the viewport */
          height: 100vh;      /* Ensure the image fully covers the height of the viewport */
          transform: scale(1.5); /* Start with the image scaled at 120% */
          object-fit: cover;  /* Maintain the image's aspect ratio, ensuring it covers the viewport */
          overflow: hidden;
          opacity: 0;
          filter: blur(20px);
          animation: blurFadeInEffect 2s ease-in-out forwards;
        }
    
        @keyframes blurFadeInEffect {
          0% {
            transform: scale(1.5);
            opacity: 0;
            filter: blur(20px); /* Start with a high blur */
          }
          100% {
            transform: scale(1);
            size: 100%;
            opacity: 1;
            filter: blur(0px); /* End with no blur */
          }
        }
      </style>
    </Fragment>

    <Fragment slot="page_down_button">
      <img class="block dark:hidden absolute top-[35%] left-1/2 h-2/5 w-5px object-cover pointer-events-none motion-safe:animate-bounce"
        src="/images/DownArrow.png"
        alt="Page down button">
      <img class="hidden dark:block absolute top-[35%] left-1/2 h-2/5 w-5px object-cover pointer-events-none motion-safe:animate-bounce"
        src="/images/DownArrow_Dark.png"
        alt="Page down button">
    </Fragment>
  </Hero>

  <div id="afterHero" class="max-h-0"></div>
  <Note />

  <BlogLatestPosts
    title="What's new?"
    information={`Personal latest blog here. Please feel free to view all contents. Enjoy! \u{1F600}`}
  />

</Layout>