---
import Layout from "~/layouts/PageLayout.astro";
import Hero from "~/components/widgets/Hero.astro";
import Header from "~/components/widgets/Header.astro";
import BlogLatestPosts from "~/components/widgets/BlogLatestPosts.astro";
import Note from "~/components/widgets/Note.astro";
import LoadingScreen from "~/components/common/LoadingScreen.astro";
import { Trans } from "astro-i18next/components";
import { getPermalink, getBlogPermalink } from "~/utils/permalinks";
import { t, changeLanguage } from "i18next";
import { localizePath } from "astro-i18next";

changeLanguage("en");

const metadata = {
    title: "RaindowStudio \u2014 ZenDeiAn's personal blog website. Sharing my life :)",
    ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- <LoadingScreen></LoadingScreen> -->
  <Fragment slot="header">
    <Header
      logoLink={localizePath('')}
      links={[
        {
          text: t("index.header.blog.title"),
          links: [
            {
              text: t("index.header.blog.list"),
              href: localizePath('/blog'),
            },
            {
              text: t("index.header.blog.article"),
              href: getPermalink("get-started-website-with-astro-tailwind-css", "post"),
            },
            {
              text: t("index.header.blog.category"),
              href: getPermalink("tutorials", "category"),
            },
            {
              text: t("index.header.blog.tag"),
              href: getPermalink("astro", "tag"),
            },
          ],
        },
        {
          text: t("index.header.aboutme"),
          href: localizePath('/homes/personal'),
        },
      ]}
      actions={[{ text: "Download", href: "https://github.com/onwidget/astrowind", target: "_blank" }]}
      isSticky
      showRssFeed
      showToggleTheme
      showLanguage
    />
  </Fragment>
  <!-- Hero Widget ******************* -->
  <Hero>
    <Fragment slot="title">
      <div class="index-hero-title">
        <Trans i18nKey="index.hero.title">
          <span class="text-accent dark:text-rose-500 highlight"></span><br><span class="text-accent dark:text-rose-500 highlight"></span>
        </Trans>
      </div>  
    </Fragment>

    <Fragment slot="subtitle">
      <Trans i18nKey="index.hero.subtitle">
        <span class="text-accent text-violet-800 dark:text-rose-500 highlight"></span>
      </Trans>
    </Fragment>

    <Fragment slot="bg">
      <img class="block dark:hidden" id="index-hero-bg" src="/images/HomePage_Dark.jpg" alt="Light theme image">
      <img class="hidden dark:block" id="index-hero-bg" src="/images/HomePage_Light.jpg" alt="Dark theme image">
      <style>
        #index-hero-bg {
          width: 100%;        /* Allow the image to fully cover the width of the viewport */
          height: 100vh;      /* Ensure the image fully covers the height of the viewport */
          transform: scale(1.5); /* Start with the image scaled at 120% */
          object-fit: cover;  /* Maintain the image's aspect ratio, ensuring it covers the viewport */
          overflow: hidden;
          opacity: 0;
          filter: blur(20px);
          animation: blurFadeInEffect 2s ease-in-out forwards;
        }
    
        @keyframes blurFadeInEffect {
          0% {
            transform: scale(1.5);
            opacity: 0;
            filter: blur(20px); /* Start with a high blur */
          }
          100% {
            transform: scale(1);
            size: 100%;
            opacity: 1;
            filter: blur(0px); /* End with no blur */
          }
        }
      </style>
    </Fragment>

    <Fragment slot="page_down_button">
      <img class="block dark:hidden absolute top-[35%] left-1/2 h-2/5 w-5px object-cover pointer-events-none motion-safe:animate-bounce"
        src="/images/DownArrow.png"
        alt="Page down button">
      <img class="hidden dark:block absolute top-[35%] left-1/2 h-2/5 w-5px object-cover pointer-events-none motion-safe:animate-bounce"
        src="/images/DownArrow_Dark.png"
        alt="Page down button">
    </Fragment>
  </Hero>

  <Note />
  <BlogLatestPosts
    title="What's new?"
    information={`Personal latest blog here. Please feel free to view all contents. Enjoy! \u{1F600}`}
  />

</Layout>