<!-- ---
import { SITE } from 'astrowind:config';
---

<span
  class="self-center ml-2 rtl:ml-0 rtl:mr-2 text-2xl md:text-xl font-bold text-gray-900 whitespace-nowrap dark:text-white flex items-center"
>
  {SITE?.name}
</span> -->

<div class="w-[100px] h-[36px] bg-cover bg-center transition-all duration-300 bg-[url('/src/assets/images/Logo.png')] hover:bg-[url('/src/assets/images/LogoHover.png')]">
</div>

<!-- <img class="hover-image" alt="Website Logo" width="125" height="75">
<style>
  .hover-image {
    transition: 1s; /* Smooth transition */
    content: url('/src/assets/images/Logo.png');
  }
  
  .hover-image:hover {
    transition: 1s; /* Smooth transition */
    content: url('/src/assets/images/LogoHover.png'); /* Change image source */
  }
</style> -->