---
import Layout from "~/layouts/PageLayout.astro";
import Header from "~/components/widgets/Header.astro";
import Content from "~/components/widgets/Content.astro";
import ProfileContent from "~/components/widgets/ProfileContent.astro";
import Features3 from "~/components/widgets/Features3.astro";
import Steps from "~/components/widgets/Steps.astro";
import BlogLatestPosts from "~/components/widgets/BlogLatestPosts.astro";
import { t, changeLanguage } from "i18next";

changeLanguage("en");

const metadata = {
    title: "About Me",
};
---

<Layout metadata={metadata}>
  <Fragment slot="announcement"></Fragment>
  <Fragment slot="header">
    <Header
      links={[
        { text: t("personal.header.home"), href: '#' },
        { text: t("personal.header.about"), href: '#about' },
        { text: t("personal.header.resume"), href: '#resume' },
        { text: t("personal.header.portfolio"), href: '#portfolio' },
        { text: t("personal.header.blog"), href: '#blog' },
        { text: t("personal.header.github"), href: 'https://github.com/ZenDeiAn' },
      ]}
      actions={[
        {
          text: 'Hire me',
          href: '#',
        },
      ]}
      isSticky
      showToggleTheme
      showLanguage
    />
  </Fragment>

  <!-- Content Widget **************** -->

  <ProfileContent
    id="about"
    columns={3}
    tagImages={[
        {
          src: 'https://img.shields.io/badge/Music-white?logo=youtubemusic&logoColor=red',
          alt: 'Tag : Music',
        },
        {
          src: 'https://img.shields.io/badge/Steam-gray?logo=steam&logoColor=blue',
          alt: 'Tag : Steam',
        },
        {

          src: 'https://img.shields.io/badge/Guitar-black?logo=data%3Aimage%2Fpng%3Bbase64%2CiVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAAABGdBTUEAALGPC%2FxhBQAACklpQ0NQc1JHQiBJRUM2MTk2Ni0yLjEAAEiJnVN3WJP3Fj7f92UPVkLY8LGXbIEAIiOsCMgQWaIQkgBhhBASQMWFiApWFBURnEhVxILVCkidiOKgKLhnQYqIWotVXDjuH9yntX167%2B3t%2B9f7vOec5%2FzOec8PgBESJpHmomoAOVKFPDrYH49PSMTJvYACFUjgBCAQ5svCZwXFAADwA3l4fnSwP%2FwBr28AAgBw1S4kEsfh%2F4O6UCZXACCRAOAiEucLAZBSAMguVMgUAMgYALBTs2QKAJQAAGx5fEIiAKoNAOz0ST4FANipk9wXANiiHKkIAI0BAJkoRyQCQLsAYFWBUiwCwMIAoKxAIi4EwK4BgFm2MkcCgL0FAHaOWJAPQGAAgJlCLMwAIDgCAEMeE80DIEwDoDDSv%2BCpX3CFuEgBAMDLlc2XS9IzFLiV0Bp38vDg4iHiwmyxQmEXKRBmCeQinJebIxNI5wNMzgwAABr50cH%2BOD%2BQ5%2Bbk4eZm52zv9MWi%2FmvwbyI%2BIfHf%2FryMAgQAEE7P79pf5eXWA3DHAbB1v2upWwDaVgBo3%2FldM9sJoFoK0Hr5i3k4%2FEAenqFQyDwdHAoLC%2B0lYqG9MOOLPv8z4W%2Fgi372%2FEAe%2Ftt68ABxmkCZrcCjg%2F1xYW52rlKO58sEQjFu9%2Bcj%2FseFf%2F2OKdHiNLFcLBWK8ViJuFAiTcd5uVKRRCHJleIS6X8y8R%2BW%2FQmTdw0ArIZPwE62B7XLbMB%2B7gECiw5Y0nYAQH7zLYwaC5EAEGc0Mnn3AACTv%2FmPQCsBAM2XpOMAALzoGFyolBdMxggAAESggSqwQQcMwRSswA6cwR28wBcCYQZEQAwkwDwQQgbkgBwKoRiWQRlUwDrYBLWwAxqgEZrhELTBMTgN5%2BASXIHrcBcGYBiewhi8hgkEQcgIE2EhOogRYo7YIs4IF5mOBCJhSDSSgKQg6YgUUSLFyHKkAqlCapFdSCPyLXIUOY1cQPqQ28ggMor8irxHMZSBslED1AJ1QLmoHxqKxqBz0XQ0D12AlqJr0Rq0Hj2AtqKn0UvodXQAfYqOY4DRMQ5mjNlhXIyHRWCJWBomxxZj5Vg1Vo81Yx1YN3YVG8CeYe8IJAKLgBPsCF6EEMJsgpCQR1hMWEOoJewjtBK6CFcJg4Qxwicik6hPtCV6EvnEeGI6sZBYRqwm7iEeIZ4lXicOE1%2BTSCQOyZLkTgohJZAySQtJa0jbSC2kU6Q%2B0hBpnEwm65Btyd7kCLKArCCXkbeQD5BPkvvJw%2BS3FDrFiOJMCaIkUqSUEko1ZT%2FlBKWfMkKZoKpRzame1AiqiDqfWkltoHZQL1OHqRM0dZolzZsWQ8ukLaPV0JppZ2n3aC%2FpdLoJ3YMeRZfQl9Jr6Afp5%2BmD9HcMDYYNg8dIYigZaxl7GacYtxkvmUymBdOXmchUMNcyG5lnmA%2BYb1VYKvYqfBWRyhKVOpVWlX6V56pUVXNVP9V5qgtUq1UPq15WfaZGVbNQ46kJ1Bar1akdVbupNq7OUndSj1DPUV%2Bjvl%2F9gvpjDbKGhUaghkijVGO3xhmNIRbGMmXxWELWclYD6yxrmE1iW7L57Ex2Bfsbdi97TFNDc6pmrGaRZp3mcc0BDsax4PA52ZxKziHODc57LQMtPy2x1mqtZq1%2BrTfaetq%2B2mLtcu0W7eva73VwnUCdLJ31Om0693UJuja6UbqFutt1z%2Bo%2B02PreekJ9cr1Dund0Uf1bfSj9Rfq79bv0R83MDQINpAZbDE4Y%2FDMkGPoa5hpuNHwhOGoEctoupHEaKPRSaMnuCbuh2fjNXgXPmasbxxirDTeZdxrPGFiaTLbpMSkxeS%2BKc2Ua5pmutG003TMzMgs3KzYrMnsjjnVnGueYb7ZvNv8jYWlRZzFSos2i8eW2pZ8ywWWTZb3rJhWPlZ5VvVW16xJ1lzrLOtt1ldsUBtXmwybOpvLtqitm63Edptt3xTiFI8p0in1U27aMez87ArsmuwG7Tn2YfYl9m32zx3MHBId1jt0O3xydHXMdmxwvOuk4TTDqcSpw%2BlXZxtnoXOd8zUXpkuQyxKXdpcXU22niqdun3rLleUa7rrStdP1o5u7m9yt2W3U3cw9xX2r%2B00umxvJXcM970H08PdY4nHM452nm6fC85DnL152Xlle%2B70eT7OcJp7WMG3I28Rb4L3Le2A6Pj1l%2Bs7pAz7GPgKfep%2BHvqa%2BIt89viN%2B1n6Zfgf8nvs7%2Bsv9j%2Fi%2F4XnyFvFOBWABwQHlAb2BGoGzA2sDHwSZBKUHNQWNBbsGLww%2BFUIMCQ1ZH3KTb8AX8hv5YzPcZyya0RXKCJ0VWhv6MMwmTB7WEY6GzwjfEH5vpvlM6cy2CIjgR2yIuB9pGZkX%2BX0UKSoyqi7qUbRTdHF09yzWrORZ%2B2e9jvGPqYy5O9tqtnJ2Z6xqbFJsY%2BybuIC4qriBeIf4RfGXEnQTJAntieTE2MQ9ieNzAudsmjOc5JpUlnRjruXcorkX5unOy553PFk1WZB8OIWYEpeyP%2BWDIEJQLxhP5aduTR0T8oSbhU9FvqKNolGxt7hKPJLmnVaV9jjdO31D%2BmiGT0Z1xjMJT1IreZEZkrkj801WRNberM%2FZcdktOZSclJyjUg1plrQr1zC3KLdPZisrkw3keeZtyhuTh8r35CP5c%2FPbFWyFTNGjtFKuUA4WTC%2BoK3hbGFt4uEi9SFrUM99m%2Fur5IwuCFny9kLBQuLCz2Lh4WfHgIr9FuxYji1MXdy4xXVK6ZHhp8NJ9y2jLspb9UOJYUlXyannc8o5Sg9KlpUMrglc0lamUycturvRauWMVYZVkVe9ql9VbVn8qF5VfrHCsqK74sEa45uJXTl%2FVfPV5bdra3kq3yu3rSOuk626s91m%2Fr0q9akHV0IbwDa0b8Y3lG19tSt50oXpq9Y7NtM3KzQM1YTXtW8y2rNvyoTaj9nqdf13LVv2tq7e%2B2Sba1r%2Fdd3vzDoMdFTve75TsvLUreFdrvUV99W7S7oLdjxpiG7q%2F5n7duEd3T8Wej3ulewf2Re%2FranRvbNyvv7%2ByCW1SNo0eSDpw5ZuAb9qb7Zp3tXBaKg7CQeXBJ9%2BmfHvjUOihzsPcw83fmX%2B39QjrSHkr0jq%2Fdawto22gPaG97%2BiMo50dXh1Hvrf%2Ffu8x42N1xzWPV56gnSg98fnkgpPjp2Snnp1OPz3Umdx590z8mWtdUV29Z0PPnj8XdO5Mt1%2F3yfPe549d8Lxw9CL3Ytslt0utPa49R35w%2FeFIr1tv62X3y%2B1XPK509E3rO9Hv03%2F6asDVc9f41y5dn3m978bsG7duJt0cuCW69fh29u0XdwruTNxdeo94r%2Fy%2B2v3qB%2FoP6n%2B0%2FrFlwG3g%2BGDAYM%2FDWQ%2FvDgmHnv6U%2F9OH4dJHzEfVI0YjjY%2BdHx8bDRq98mTOk%2BGnsqcTz8p%2BVv9563Or59%2F94vtLz1j82PAL%2BYvPv655qfNy76uprzrHI8cfvM55PfGm%2FK3O233vuO%2B638e9H5ko%2FED%2BUPPR%2BmPHp9BP9z7nfP78L%2FeE8%2FstRzjPAAAAIGNIUk0AAHomAACAhAAA%2BgAAAIDoAAB1MAAA6mAAADqYAAAXcJy6UTwAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAaNSURBVHic1dt7rB1VFcDhr7WAER%2BkKakaoy1aLcgjQKmK8dUo9IVgIEq1KimiUYM2tb7QtIixFa8oiEETNaiIUIjxbRXiIzFqicItia2kPFJsRW9LFYhiuVqvf6xzeuaezjkzs2fmor%2Fk5MyZ2Xvtvdbs2XvtNetMm5iYcO7oag0zDc%2FF8ZiHuXgWZuMoPBlPxAxMxwQew8Odzx7sxk7swO873wea7OS3Tr7SjIZkTcdCLMLpWCCUrcJTMGvI9b%2Fid%2FgNfoZf49%2BVe9pHHQNMw1l4AxZjZt3OFDATZ3Q%2B6%2FEIbsEmfEeiMaYn1HkSLsVD%2BC7eqH3l83gqzsPNnb5sFKOoElUNcLGw%2FPpOB%2F5XOBIfEn1bW6ViWQM8A1vxOTyhSgOPAyPYjmeXKVzGAK%2FGn3BSjU5NNcfifiwrKlhkgPNxq5jw%2Fh%2F5Ad4yrMAwA5yDG5rszRC24goxmTXN1%2FD6QRcHGeAkfLuFzuQxKnyItXhf37X78Vb8pGYbm3Ba3oVBBvhmzQbLMooX4V%2Bd3%2FMz1%2FbiZfi68DN%2BWLOt6%2BX4PXkGGMFxNRsrw50mKz9DrOuE8guwK1N%2BuXpGmIdP95%2FsN8AJKq6jNbhYT3nCkzsP27AEf8ypsxw%2FqtHme3FK9kS%2FAaZKeeLuw4dxQef4DpyI24fUW4bNNdqdpGPWAHPx5hqCy3AHDhd34TKMYwOuFasO%2FKeEnKXSjbACz%2B%2F%2ByBpgpXbX%2B1G8WAz7UbHFPaxz7YBwtvp5AY4eIG8pfpzYl5Xdg6wBlicKK0P%2FbH%2BB3rK0B3Pw2746q3AXthh8Y5aI7XFVDuraNcB8sRa3wX16d77LFnHXJ8Rsv7uvzkX4Suf4aBFEGcRoQp9OxgvpGWBBgpCy7BLPOhzTafMu4WydYvJS1%2BWizPH5%2BNsQ%2BYsS%2B7WQngFOTBQyjNuFZzdfOFZX4V6xFBHL3dYBdT%2BDu8WMP2zZW2iy81SFE%2Bh5Rs9JFDKIUbxEDPsd%2BH7m2jvw2YL6N3Y%2BRSxO6l0wh94IeHoNQf1kZ3t4eebaHrwmp87bsF8sUVWoY4DZ9AwwaKmpyp1C%2BfHMuVd2vvPcW7gQX8IRYuNTlueJUZbKHHoGGB9crhLrc2SdJYKXZztU%2BXn4cub3VRXaOrNy7yazn54BxmoK63JG5%2FsyrMvIPlP%2Ber1LxP6JNb2Kd7ckoX9ZdtKbBP9cU1iXd4klrOvh7cUXhpTfL2bjI7CvQjuz9B6tVMbojYC7awrL0lX%2Bn%2FI3NSvEo9INrv5dNeWJOOWRSb3rsYPeCNhaU1g%2FYzjVof79Kj0Pby%2BuSZRfd%2FjT0bk7Am7Dow0IZbDyK%2FSUhz8kyj9cjIA6jAudDxrgQfy8plBiKJ8mf2f3tMzxshrtvQLPTKzb5Rc68142RnaTEnH0Akbk%2B%2FbwRfHmdzd%2BWaONJob%2Fzd2D7Hb4RofuyqqyveD6DeopT%2F31f0wm6Js1wDiurin8npr1izhV%2FYDt52Xmu%2F6Y4BVi%2F57CPvmBzCap4%2FsTj%2BdI9kS%2FAQ7gkkThO%2FGPxLplqfv8XyIyUQ6S915gk7T4e9vDfy5eWqP%2BrfhG%2F8lBb4Y%2BmNBAk95kHnUnv1ydBhlgGz5esYHUCG1Z6gz%2Fyw2IHQ57O7xOxO7K8Dr8qmKnqjATr0qsey8%2BMuhiUX7AmhINnC2SlNpkhYT8nw5rDEmvKzLAZpP99yyPiojM99L6VYqjcJ1Yu1O4TkH%2FyqTIrMFf%2Bs5tEzk4W9L6Vcg0fEyEw1cWlB3Eg1hdVKiMAR7RC2UTiRPHq76HL8sqkSmyrqBcEatFcuVQyiZK3iSClw%2BJxMg2WCTig3MbkLVJJEQUUiVT9LUaztXtcKxQ%2FPSG5O3Du8sWrpIo%2BZgGcnMzzBJ3arvmlCeUL%2F14pqTKNsH7RUhsYPZWItcKo5bm8TDA5fhUC3LvwzurVppqA3wSH2hJ9oX6dnplmEoDbJS2ySrDpSLOV5mpMsBGkc3dBj8VTlMSU2GANpV%2FWEEucBFtG6BN5YmstgfqCGjTABu0q%2FwnTE68SKItA2wQCZBtcQs%2B2oSgpv41lmVEuxmnD2hwP9L0CJgtXpG3ybka%2FF9B0wYYU2EjksDbNRyDaGMO%2BKp4wdI0V4tcokZpaxJcK%2F5T2BSb8Z4G5R2kzWXwHPX%2F6kK8Rl%2FagJxc2naEFitOihzGNdJTYUsxFa7wGpETfFuFOt3s8jYnVLTjB%2BTRzR49Dm8SEaBjRNj7MOHT3yNS6a4XCZdTwn8BSDI7Q8kdU4sAAAAASUVORK5CYII%3D',
          alt: 'Tag : Guitar',
        },
        {
          src: 'https://img.shields.io/badge/Fitness-%23fae766?logo=data%3Aimage%2Fpng%3Bbase64%2CiVBORw0KGgoAAAANSUhEUgAAAEAAAABACAMAAACdt4HsAAAABGdBTUEAALGPC%2FxhBQAACklpQ0NQc1JHQiBJRUM2MTk2Ni0yLjEAAEiJnVN3WJP3Fj7f92UPVkLY8LGXbIEAIiOsCMgQWaIQkgBhhBASQMWFiApWFBURnEhVxILVCkidiOKgKLhnQYqIWotVXDjuH9yntX167%2B3t%2B9f7vOec5%2FzOec8PgBESJpHmomoAOVKFPDrYH49PSMTJvYACFUjgBCAQ5svCZwXFAADwA3l4fnSwP%2FwBr28AAgBw1S4kEsfh%2F4O6UCZXACCRAOAiEucLAZBSAMguVMgUAMgYALBTs2QKAJQAAGx5fEIiAKoNAOz0ST4FANipk9wXANiiHKkIAI0BAJkoRyQCQLsAYFWBUiwCwMIAoKxAIi4EwK4BgFm2MkcCgL0FAHaOWJAPQGAAgJlCLMwAIDgCAEMeE80DIEwDoDDSv%2BCpX3CFuEgBAMDLlc2XS9IzFLiV0Bp38vDg4iHiwmyxQmEXKRBmCeQinJebIxNI5wNMzgwAABr50cH%2BOD%2BQ5%2Bbk4eZm52zv9MWi%2FmvwbyI%2BIfHf%2FryMAgQAEE7P79pf5eXWA3DHAbB1v2upWwDaVgBo3%2FldM9sJoFoK0Hr5i3k4%2FEAenqFQyDwdHAoLC%2B0lYqG9MOOLPv8z4W%2Fgi372%2FEAe%2Ftt68ABxmkCZrcCjg%2F1xYW52rlKO58sEQjFu9%2Bcj%2FseFf%2F2OKdHiNLFcLBWK8ViJuFAiTcd5uVKRRCHJleIS6X8y8R%2BW%2FQmTdw0ArIZPwE62B7XLbMB%2B7gECiw5Y0nYAQH7zLYwaC5EAEGc0Mnn3AACTv%2FmPQCsBAM2XpOMAALzoGFyolBdMxggAAESggSqwQQcMwRSswA6cwR28wBcCYQZEQAwkwDwQQgbkgBwKoRiWQRlUwDrYBLWwAxqgEZrhELTBMTgN5%2BASXIHrcBcGYBiewhi8hgkEQcgIE2EhOogRYo7YIs4IF5mOBCJhSDSSgKQg6YgUUSLFyHKkAqlCapFdSCPyLXIUOY1cQPqQ28ggMor8irxHMZSBslED1AJ1QLmoHxqKxqBz0XQ0D12AlqJr0Rq0Hj2AtqKn0UvodXQAfYqOY4DRMQ5mjNlhXIyHRWCJWBomxxZj5Vg1Vo81Yx1YN3YVG8CeYe8IJAKLgBPsCF6EEMJsgpCQR1hMWEOoJewjtBK6CFcJg4Qxwicik6hPtCV6EvnEeGI6sZBYRqwm7iEeIZ4lXicOE1%2BTSCQOyZLkTgohJZAySQtJa0jbSC2kU6Q%2B0hBpnEwm65Btyd7kCLKArCCXkbeQD5BPkvvJw%2BS3FDrFiOJMCaIkUqSUEko1ZT%2FlBKWfMkKZoKpRzame1AiqiDqfWkltoHZQL1OHqRM0dZolzZsWQ8ukLaPV0JppZ2n3aC%2FpdLoJ3YMeRZfQl9Jr6Afp5%2BmD9HcMDYYNg8dIYigZaxl7GacYtxkvmUymBdOXmchUMNcyG5lnmA%2BYb1VYKvYqfBWRyhKVOpVWlX6V56pUVXNVP9V5qgtUq1UPq15WfaZGVbNQ46kJ1Bar1akdVbupNq7OUndSj1DPUV%2Bjvl%2F9gvpjDbKGhUaghkijVGO3xhmNIRbGMmXxWELWclYD6yxrmE1iW7L57Ex2Bfsbdi97TFNDc6pmrGaRZp3mcc0BDsax4PA52ZxKziHODc57LQMtPy2x1mqtZq1%2BrTfaetq%2B2mLtcu0W7eva73VwnUCdLJ31Om0693UJuja6UbqFutt1z%2Bo%2B02PreekJ9cr1Dund0Uf1bfSj9Rfq79bv0R83MDQINpAZbDE4Y%2FDMkGPoa5hpuNHwhOGoEctoupHEaKPRSaMnuCbuh2fjNXgXPmasbxxirDTeZdxrPGFiaTLbpMSkxeS%2BKc2Ua5pmutG003TMzMgs3KzYrMnsjjnVnGueYb7ZvNv8jYWlRZzFSos2i8eW2pZ8ywWWTZb3rJhWPlZ5VvVW16xJ1lzrLOtt1ldsUBtXmwybOpvLtqitm63Edptt3xTiFI8p0in1U27aMez87ArsmuwG7Tn2YfYl9m32zx3MHBId1jt0O3xydHXMdmxwvOuk4TTDqcSpw%2BlXZxtnoXOd8zUXpkuQyxKXdpcXU22niqdun3rLleUa7rrStdP1o5u7m9yt2W3U3cw9xX2r%2B00umxvJXcM970H08PdY4nHM452nm6fC85DnL152Xlle%2B70eT7OcJp7WMG3I28Rb4L3Le2A6Pj1l%2Bs7pAz7GPgKfep%2BHvqa%2BIt89viN%2B1n6Zfgf8nvs7%2Bsv9j%2Fi%2F4XnyFvFOBWABwQHlAb2BGoGzA2sDHwSZBKUHNQWNBbsGLww%2BFUIMCQ1ZH3KTb8AX8hv5YzPcZyya0RXKCJ0VWhv6MMwmTB7WEY6GzwjfEH5vpvlM6cy2CIjgR2yIuB9pGZkX%2BX0UKSoyqi7qUbRTdHF09yzWrORZ%2B2e9jvGPqYy5O9tqtnJ2Z6xqbFJsY%2BybuIC4qriBeIf4RfGXEnQTJAntieTE2MQ9ieNzAudsmjOc5JpUlnRjruXcorkX5unOy553PFk1WZB8OIWYEpeyP%2BWDIEJQLxhP5aduTR0T8oSbhU9FvqKNolGxt7hKPJLmnVaV9jjdO31D%2BmiGT0Z1xjMJT1IreZEZkrkj801WRNberM%2FZcdktOZSclJyjUg1plrQr1zC3KLdPZisrkw3keeZtyhuTh8r35CP5c%2FPbFWyFTNGjtFKuUA4WTC%2BoK3hbGFt4uEi9SFrUM99m%2Fur5IwuCFny9kLBQuLCz2Lh4WfHgIr9FuxYji1MXdy4xXVK6ZHhp8NJ9y2jLspb9UOJYUlXyannc8o5Sg9KlpUMrglc0lamUycturvRauWMVYZVkVe9ql9VbVn8qF5VfrHCsqK74sEa45uJXTl%2FVfPV5bdra3kq3yu3rSOuk626s91m%2Fr0q9akHV0IbwDa0b8Y3lG19tSt50oXpq9Y7NtM3KzQM1YTXtW8y2rNvyoTaj9nqdf13LVv2tq7e%2B2Sba1r%2Fdd3vzDoMdFTve75TsvLUreFdrvUV99W7S7oLdjxpiG7q%2F5n7duEd3T8Wej3ulewf2Re%2FranRvbNyvv7%2ByCW1SNo0eSDpw5ZuAb9qb7Zp3tXBaKg7CQeXBJ9%2BmfHvjUOihzsPcw83fmX%2B39QjrSHkr0jq%2Fdawto22gPaG97%2BiMo50dXh1Hvrf%2Ffu8x42N1xzWPV56gnSg98fnkgpPjp2Snnp1OPz3Umdx590z8mWtdUV29Z0PPnj8XdO5Mt1%2F3yfPe549d8Lxw9CL3Ytslt0utPa49R35w%2FeFIr1tv62X3y%2B1XPK509E3rO9Hv03%2F6asDVc9f41y5dn3m978bsG7duJt0cuCW69fh29u0XdwruTNxdeo94r%2Fy%2B2v3qB%2FoP6n%2B0%2FrFlwG3g%2BGDAYM%2FDWQ%2FvDgmHnv6U%2F9OH4dJHzEfVI0YjjY%2BdHx8bDRq98mTOk%2BGnsqcTz8p%2BVv9563Or59%2F94vtLz1j82PAL%2BYvPv655qfNy76uprzrHI8cfvM55PfGm%2FK3O233vuO%2B638e9H5ko%2FED%2BUPPR%2BmPHp9BP9z7nfP78L%2FeE8%2FstRzjPAAAAIGNIUk0AAHomAACAhAAA%2BgAAAIDoAAB1MAAA6mAAADqYAAAXcJy6UTwAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAGtUExURScnJycnJycnJycnJycnJycnJycnJycnJycnJycnJycnJycnJycnJycnJycnJycnJycnJycnJycnJycnJycnJycnJycnJycnJycnJycnJycnJycnJycnJycnJycnJycnJycnJycnJycnJycnJycnJycnJycnJycnJycnJycnJycnJycnJycnJycnJycnJycnJycnJycnJycnJycnJycnJycnJycnJycnJycnJycnJycnJycnJycnJycnJycnJycnJycnJycnJycnJycnJycnJycnJycnJycnJycnJycnJycnJycnJycnJycnJycnJycnJycnJycnJycnJycnJycnJycnJycnJycnJycnJycnJycnJycnJycnJycnJycnJycnJycnJycnJycnJycnJycnJycnJycnJycnJycnJycnJycnJycnJycnJycnJycnJycnJycnJycnJycnJycnJycnJycnJycnJycnJycnJycnJycnJycnJycnJycnJycnJycnJycnJycnJycnJycnJycnJycnJycnJycnJycnJycnJycnJycnJycnJycnJycnJyYYM%2FAAAACOdFJOUwACAwUGBwgKCwwNDhESExQVFxgZGhsdHiAiJCYnKCksLTM0NTc4OTs8PkBFR0lKTk9QUVVWWFlaXF5gYWJkZWZnbG1ucHN0dXZ%2FgYaHiYqNjo%2BQkpqbnJ2goaOoqausrq%2BwsrO1try%2FwMHCyMrLzM%2FQ0tPU1drb3N3e4eLj5%2Brr7O3u8PLz9Pf4%2Bvv8%2Ff6L3rtdAAACvUlEQVQYGZ3BiUOLYQAG8MeVSuRckbdcLXIfHQjJ0dRGW8m9EqFmZKbJsFVfsqbnb1b2bXvf7Tve%2Bf1gp6ljMBxJpAwjlYiEBzuaUJH2YIwlYsF2aKr3xWkp7quHu7pBg7YMfx1c9M3T0XwfnDRP0dVUM2z1rFLDag9sDFHTECy9oLYXsDDJcivPlmlpEmXGWCbtb8BJWhtDiRBLJe5uw5pBWgtB0c0S7y%2FDNE1r3ZB4qHp9BgVbF2nNg6IZyt4dg8y7QkszKOilbGUDVDFa64WpKkPZW6hqFmgtU4WcABU%2BqD7QTgD%2FVGepaIHiFW1lq7Gun4rvUIzQQT%2FWJal4BNP1z6Mb4KeTJNZ4qboI0xsy%2BZXOvACGqdoO0wO6GwaQoCKCvAG6SwCNVA0g7w41NKKTqjbkXaOGTgSoWNyIvEvUEMA4FS9RcJqK1ze8B450PkxRMY4oFTdR0EpJtA05287fpySKOSoECtr46d7Zo21XR1PkUxRtpmQOacq%2BoWj%2FBeTUhJ5DcpCSNJYoewJ3gpIlLFF2Be4EJUtIU%2BaBO0FJGnOUfIEGQckcopQ8hAZBSRTjlFyGBkHJOAKUnIAGQUkAXZScgAZBSRcaKTkEDYKSRiDBovAeuBMsSgAYpuT3471wI1g0DMBLxeI5uBAs8mJNkqohOBMsSGJdP0t8bIUTwYJ%2BrKvOslRwB%2BwJ5mWr8U%2BAZRYHGmBHMC%2BAnKoMy%2F2ZuHV83xYAm3a2nLn96NPEKZh20ZSpgqmX1rI%2FZ%2BNffiwzJzFy5eju2trawzT1omCGmjKGYfxizgyKPPwPHki6WbFuKEKsUAglxliRMZSZZAUmYSFMbWFYClJTEDZ6VqlhtQe2mqfparoZTvoW6GihDy7q%2FAZtGf46uKv3xWkp7quHpvZgjCViwXZUpKnDH47MpgwjNRsJ%2BzuaYOMvR38ROc0oRtUAAAAASUVORK5CYII%3D',
          alt: 'Tag : Fitness',
        },
        {
          src: 'https://img.shields.io/badge/Photography-%2372695c?logo=data%3Aimage%2Fpng%3Bbase64%2CiVBORw0KGgoAAAANSUhEUgAAAEAAAABACAMAAACdt4HsAAAABGdBTUEAALGPC%2FxhBQAACklpQ0NQc1JHQiBJRUM2MTk2Ni0yLjEAAEiJnVN3WJP3Fj7f92UPVkLY8LGXbIEAIiOsCMgQWaIQkgBhhBASQMWFiApWFBURnEhVxILVCkidiOKgKLhnQYqIWotVXDjuH9yntX167%2B3t%2B9f7vOec5%2FzOec8PgBESJpHmomoAOVKFPDrYH49PSMTJvYACFUjgBCAQ5svCZwXFAADwA3l4fnSwP%2FwBr28AAgBw1S4kEsfh%2F4O6UCZXACCRAOAiEucLAZBSAMguVMgUAMgYALBTs2QKAJQAAGx5fEIiAKoNAOz0ST4FANipk9wXANiiHKkIAI0BAJkoRyQCQLsAYFWBUiwCwMIAoKxAIi4EwK4BgFm2MkcCgL0FAHaOWJAPQGAAgJlCLMwAIDgCAEMeE80DIEwDoDDSv%2BCpX3CFuEgBAMDLlc2XS9IzFLiV0Bp38vDg4iHiwmyxQmEXKRBmCeQinJebIxNI5wNMzgwAABr50cH%2BOD%2BQ5%2Bbk4eZm52zv9MWi%2FmvwbyI%2BIfHf%2FryMAgQAEE7P79pf5eXWA3DHAbB1v2upWwDaVgBo3%2FldM9sJoFoK0Hr5i3k4%2FEAenqFQyDwdHAoLC%2B0lYqG9MOOLPv8z4W%2Fgi372%2FEAe%2Ftt68ABxmkCZrcCjg%2F1xYW52rlKO58sEQjFu9%2Bcj%2FseFf%2F2OKdHiNLFcLBWK8ViJuFAiTcd5uVKRRCHJleIS6X8y8R%2BW%2FQmTdw0ArIZPwE62B7XLbMB%2B7gECiw5Y0nYAQH7zLYwaC5EAEGc0Mnn3AACTv%2FmPQCsBAM2XpOMAALzoGFyolBdMxggAAESggSqwQQcMwRSswA6cwR28wBcCYQZEQAwkwDwQQgbkgBwKoRiWQRlUwDrYBLWwAxqgEZrhELTBMTgN5%2BASXIHrcBcGYBiewhi8hgkEQcgIE2EhOogRYo7YIs4IF5mOBCJhSDSSgKQg6YgUUSLFyHKkAqlCapFdSCPyLXIUOY1cQPqQ28ggMor8irxHMZSBslED1AJ1QLmoHxqKxqBz0XQ0D12AlqJr0Rq0Hj2AtqKn0UvodXQAfYqOY4DRMQ5mjNlhXIyHRWCJWBomxxZj5Vg1Vo81Yx1YN3YVG8CeYe8IJAKLgBPsCF6EEMJsgpCQR1hMWEOoJewjtBK6CFcJg4Qxwicik6hPtCV6EvnEeGI6sZBYRqwm7iEeIZ4lXicOE1%2BTSCQOyZLkTgohJZAySQtJa0jbSC2kU6Q%2B0hBpnEwm65Btyd7kCLKArCCXkbeQD5BPkvvJw%2BS3FDrFiOJMCaIkUqSUEko1ZT%2FlBKWfMkKZoKpRzame1AiqiDqfWkltoHZQL1OHqRM0dZolzZsWQ8ukLaPV0JppZ2n3aC%2FpdLoJ3YMeRZfQl9Jr6Afp5%2BmD9HcMDYYNg8dIYigZaxl7GacYtxkvmUymBdOXmchUMNcyG5lnmA%2BYb1VYKvYqfBWRyhKVOpVWlX6V56pUVXNVP9V5qgtUq1UPq15WfaZGVbNQ46kJ1Bar1akdVbupNq7OUndSj1DPUV%2Bjvl%2F9gvpjDbKGhUaghkijVGO3xhmNIRbGMmXxWELWclYD6yxrmE1iW7L57Ex2Bfsbdi97TFNDc6pmrGaRZp3mcc0BDsax4PA52ZxKziHODc57LQMtPy2x1mqtZq1%2BrTfaetq%2B2mLtcu0W7eva73VwnUCdLJ31Om0693UJuja6UbqFutt1z%2Bo%2B02PreekJ9cr1Dund0Uf1bfSj9Rfq79bv0R83MDQINpAZbDE4Y%2FDMkGPoa5hpuNHwhOGoEctoupHEaKPRSaMnuCbuh2fjNXgXPmasbxxirDTeZdxrPGFiaTLbpMSkxeS%2BKc2Ua5pmutG003TMzMgs3KzYrMnsjjnVnGueYb7ZvNv8jYWlRZzFSos2i8eW2pZ8ywWWTZb3rJhWPlZ5VvVW16xJ1lzrLOtt1ldsUBtXmwybOpvLtqitm63Edptt3xTiFI8p0in1U27aMez87ArsmuwG7Tn2YfYl9m32zx3MHBId1jt0O3xydHXMdmxwvOuk4TTDqcSpw%2BlXZxtnoXOd8zUXpkuQyxKXdpcXU22niqdun3rLleUa7rrStdP1o5u7m9yt2W3U3cw9xX2r%2B00umxvJXcM970H08PdY4nHM452nm6fC85DnL152Xlle%2B70eT7OcJp7WMG3I28Rb4L3Le2A6Pj1l%2Bs7pAz7GPgKfep%2BHvqa%2BIt89viN%2B1n6Zfgf8nvs7%2Bsv9j%2Fi%2F4XnyFvFOBWABwQHlAb2BGoGzA2sDHwSZBKUHNQWNBbsGLww%2BFUIMCQ1ZH3KTb8AX8hv5YzPcZyya0RXKCJ0VWhv6MMwmTB7WEY6GzwjfEH5vpvlM6cy2CIjgR2yIuB9pGZkX%2BX0UKSoyqi7qUbRTdHF09yzWrORZ%2B2e9jvGPqYy5O9tqtnJ2Z6xqbFJsY%2BybuIC4qriBeIf4RfGXEnQTJAntieTE2MQ9ieNzAudsmjOc5JpUlnRjruXcorkX5unOy553PFk1WZB8OIWYEpeyP%2BWDIEJQLxhP5aduTR0T8oSbhU9FvqKNolGxt7hKPJLmnVaV9jjdO31D%2BmiGT0Z1xjMJT1IreZEZkrkj801WRNberM%2FZcdktOZSclJyjUg1plrQr1zC3KLdPZisrkw3keeZtyhuTh8r35CP5c%2FPbFWyFTNGjtFKuUA4WTC%2BoK3hbGFt4uEi9SFrUM99m%2Fur5IwuCFny9kLBQuLCz2Lh4WfHgIr9FuxYji1MXdy4xXVK6ZHhp8NJ9y2jLspb9UOJYUlXyannc8o5Sg9KlpUMrglc0lamUycturvRauWMVYZVkVe9ql9VbVn8qF5VfrHCsqK74sEa45uJXTl%2FVfPV5bdra3kq3yu3rSOuk626s91m%2Fr0q9akHV0IbwDa0b8Y3lG19tSt50oXpq9Y7NtM3KzQM1YTXtW8y2rNvyoTaj9nqdf13LVv2tq7e%2B2Sba1r%2Fdd3vzDoMdFTve75TsvLUreFdrvUV99W7S7oLdjxpiG7q%2F5n7duEd3T8Wej3ulewf2Re%2FranRvbNyvv7%2ByCW1SNo0eSDpw5ZuAb9qb7Zp3tXBaKg7CQeXBJ9%2BmfHvjUOihzsPcw83fmX%2B39QjrSHkr0jq%2Fdawto22gPaG97%2BiMo50dXh1Hvrf%2Ffu8x42N1xzWPV56gnSg98fnkgpPjp2Snnp1OPz3Umdx590z8mWtdUV29Z0PPnj8XdO5Mt1%2F3yfPe549d8Lxw9CL3Ytslt0utPa49R35w%2FeFIr1tv62X3y%2B1XPK509E3rO9Hv03%2F6asDVc9f41y5dn3m978bsG7duJt0cuCW69fh29u0XdwruTNxdeo94r%2Fy%2B2v3qB%2FoP6n%2B0%2FrFlwG3g%2BGDAYM%2FDWQ%2FvDgmHnv6U%2F9OH4dJHzEfVI0YjjY%2BdHx8bDRq98mTOk%2BGnsqcTz8p%2BVv9563Or59%2F94vtLz1j82PAL%2BYvPv655qfNy76uprzrHI8cfvM55PfGm%2FK3O233vuO%2B638e9H5ko%2FED%2BUPPR%2BmPHp9BP9z7nfP78L%2FeE8%2FstRzjPAAAAIGNIUk0AAHomAACAhAAA%2BgAAAIDoAAB1MAAA6mAAADqYAAAXcJy6UTwAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAUkaVRYdFhNTDpjb20uYWRvYmUueG1wAAAAAAA8P3hwYWNrZXQgYmVnaW49Iu%2B7vyIgaWQ9Ilc1TTBNcENlaGlIenJlU3pOVGN6a2M5ZCI%2FPiA8eDp4bXBtZXRhIHhtbG5zOng9ImFkb2JlOm5zOm1ldGEvIiB4OnhtcHRrPSJBZG9iZSBYTVAgQ29yZSA5LjEtYzAwMiA3OS5iN2M2NGNjLCAyMDI0LzA3LzE2LTA3OjU5OjQwICAgICAgICAiPiA8cmRmOlJERiB4bWxuczpyZGY9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkvMDIvMjItcmRmLXN5bnRheC1ucyMiPiA8cmRmOkRlc2NyaXB0aW9uIHJkZjphYm91dD0iIiB4bWxuczp4bXA9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC8iIHhtbG5zOmRjPSJodHRwOi8vcHVybC5vcmcvZGMvZWxlbWVudHMvMS4xLyIgeG1sbnM6cGhvdG9zaG9wPSJodHRwOi8vbnMuYWRvYmUuY29tL3Bob3Rvc2hvcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RFdnQ9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZUV2ZW50IyIgeG1wOkNyZWF0b3JUb29sPSJBZG9iZSBQaG90b3Nob3AgMjYuMCAoMjAyNDA5MjUubS4yNzg3IDFjNDA4ZTApICAoV2luZG93cykiIHhtcDpDcmVhdGVEYXRlPSIyMDI0LTEwLTMwVDE1OjMyOjIxKzA5OjAwIiB4bXA6TW9kaWZ5RGF0ZT0iMjAyNC0xMC0zMFQxNjowOTo0MyswOTowMCIgeG1wOk1ldGFkYXRhRGF0ZT0iMjAyNC0xMC0zMFQxNjowOTo0MyswOTowMCIgZGM6Zm9ybWF0PSJpbWFnZS9wbmciIHBob3Rvc2hvcDpDb2xvck1vZGU9IjMiIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6ZDQ5NmZiMTItZjUwYi1lZTQyLTg5MjYtYzg0ZmVmZTU4ZTZjIiB4bXBNTTpEb2N1bWVudElEPSJ4bXAuZGlkOmQ0OTZmYjEyLWY1MGItZWU0Mi04OTI2LWM4NGZlZmU1OGU2YyIgeG1wTU06T3JpZ2luYWxEb2N1bWVudElEPSJ4bXAuZGlkOmQ0OTZmYjEyLWY1MGItZWU0Mi04OTI2LWM4NGZlZmU1OGU2YyI%2BIDx4bXBNTTpIaXN0b3J5PiA8cmRmOlNlcT4gPHJkZjpsaSBzdEV2dDphY3Rpb249ImNyZWF0ZWQiIHN0RXZ0Omluc3RhbmNlSUQ9InhtcC5paWQ6ZDQ5NmZiMTItZjUwYi1lZTQyLTg5MjYtYzg0ZmVmZTU4ZTZjIiBzdEV2dDp3aGVuPSIyMDI0LTEwLTMwVDE1OjMyOjIxKzA5OjAwIiBzdEV2dDpzb2Z0d2FyZUFnZW50PSJBZG9iZSBQaG90b3Nob3AgMjYuMCAoMjAyNDA5MjUubS4yNzg3IDFjNDA4ZTApICAoV2luZG93cykiLz4gPC9yZGY6U2VxPiA8L3htcE1NOkhpc3Rvcnk%2BIDwvcmRmOkRlc2NyaXB0aW9uPiA8L3JkZjpSREY%2BIDwveDp4bXBtZXRhPiA8P3hwYWNrZXQgZW5kPSJyIj8%2BatvsTQAAAadQTFRF7a0%2B7a0%2B7a0%2B7a0%2B7a0%2B7a0%2B7a0%2B7a0%2B7a0%2B7a0%2B7a0%2B7a0%2B7a0%2B7a0%2B7a0%2B7a0%2B7a0%2B7a0%2B7a0%2B7a0%2B7a0%2B7a0%2B7a0%2B7a0%2B7a0%2B7a0%2B7a0%2B7a0%2B7a0%2B7a0%2B7a0%2B7a0%2B7a0%2B7a0%2B7a0%2B7a0%2B7a0%2B7a0%2B7a0%2B7a0%2B7a0%2B7a0%2B7a0%2B7a0%2B7a0%2B7a0%2B7a0%2B7a0%2B7a0%2B7a0%2B7a0%2B7a0%2B7a0%2B7a0%2B7a0%2B7a0%2B7a0%2B7a0%2B7a0%2B7a0%2B7a0%2B7a0%2B7a0%2B7a0%2B7a0%2B7a0%2B7a0%2B7a0%2B7a0%2B7a0%2B7a0%2B7a0%2B7a0%2B7a0%2B7a0%2B7a0%2B7a0%2B7a0%2B7a0%2B7a0%2B7a0%2B7a0%2B7a0%2B7a0%2B7a0%2B7a0%2B7a0%2B7a0%2B7a0%2B7a0%2B7a0%2B7a0%2B7a0%2B7a0%2B7a0%2B7a0%2B7a0%2B7a0%2B7a0%2B7a0%2B7a0%2B7a0%2B7a0%2B7a0%2B7a0%2B7a0%2B7a0%2B7a0%2B7a0%2B7a0%2B7a0%2B7a0%2B7a0%2B7a0%2B7a0%2B7a0%2B7a0%2B7a0%2B7a0%2B7a0%2B7a0%2B7a0%2B7a0%2B7a0%2B7a0%2B7a0%2B7a0%2B7a0%2B7a0%2B7a0%2B7a0%2B7a0%2B7a0%2B7a0%2B7a0%2B7a0%2B7a0%2B7a0%2B7a0%2B7a0%2B7a0%2BGb2jvwAAAIx0Uk5TAAIDBQYHCAkKCw4PERMUFxgZHR8gIyQlJigpKi4vMDg5PUBBQ0RFRktMTlJVVldYWVpbXF1eYmVnaW1yc3R1dnp9foOFhoeJi46PkJGSk5eYmp6go6Wmp6usra6vsbW2uLm6vL2%2Bv8HCxMXIy8zN0NPV1tfY29ze3%2BLk5%2Bjr7O3u8vP09ff4%2Bvv8%2Ff7O9MeuAAADGElEQVRYw7VX%2Fz9TYRg9MjSkkaTpC%2Bt7ynwpNIWyL0xDIpYVKqHRUJvQsM0snD%2B6H2x39969d7trOj%2Fd9z7POfu89312nvcBNFBvdXj9oXAkEg75vQ5rPfKCxb1GFdbcFr3sqr51CrHeV6WDXumIUBMRZ2Uuvm2PWbFny0o3LzInFs3a%2FM4T6sBJpxZ%2FiDoxJOZPUzemRfxZ5oHZTP4M88KMmj%2FMPDGs5Hcwb3TI%2BTWijB8yiOI1MoGAIN4s%2F4VmQUIgHe4WhLeVe9wWpHSngqUJQXRMKTAmSEmUJoMu0Q67ig0yFHeJclynfOMR%2FxFHRgBAb%2FrNd3vP8yQGBhUYSL3vsa%2Bm83sBAFvSul%2BfZfVLhC0AaJSWk3pNb1KiNALwSCvdzlsvUTwAQqlF%2FHxG5gVLe7sl00mN8RQnBNRKarEKVd5dX4wkY757qkBFTCLVolV6PqgEgMsbP68AAIom0l97okjp3AdSpFVWRacCNvIFABgCJH%2B9efJoMEQyUKIh4IJPJXDx80I1ACyTiWSxP06QyxoCPqyoBFL9gYyagZtxbr1EdYy0iQVWsCkUMMRPz%2FgZSW7gGhk3CAU2sSsUsJLvAcDw6gPJT5girUKBXUSFAuPkreTj1d%2BkyUSOCwWiGgKL%2FCPVz1OyD3%2B4pCEg3sIqo6VSwySHEOGKxhbEH%2FErj02p53Nvv10qOeaCxkcUH%2BMoeV9%2B8g8VHqc4Rp9Q4AH5RS6woBBUFJJLXEh7Cl9vJne1SrlNLNBC8k5qcZtki1igTfZ3VghgmqTdBAAmu7qhywRqZYaiFMBHkvH5kZH5eEY7TwuE5JamEoA97QcOaAh45KYaK1cZT8PrIEkGPQ2qQHlMbqqSrR8aM%2B2zrqmpLvOt8VBu6%2BnGcl2vK99QNhaptc3pFZhTtrZ0LY2W6aGXjaqaq6y970yN58S7nYz2Lrxg6EB39itOTgRyXbJyoeYsr3mFXzQLv%2BoWftkGvPr5XnGJufXy3f9r5AHMS7n5S%2BbsY99%2Bdvq%2BLefg6Sxs8Cx89D2D4Ts1%2Fju9%2FmA4EgkH%2FV6n9vj%2FFwxxo%2FFmCVqNAAAAAElFTkSuQmCC&logoColor=white',
          alt: 'Tag : Photography',
        },
        {
          src: 'https://img.shields.io/badge/RollerBlade-%23d2d2d2?logo=data%3Aimage%2Fpng%3Bbase64%2CiVBORw0KGgoAAAANSUhEUgAAAEAAAABACAMAAACdt4HsAAAABGdBTUEAALGPC%2FxhBQAACklpQ0NQc1JHQiBJRUM2MTk2Ni0yLjEAAEiJnVN3WJP3Fj7f92UPVkLY8LGXbIEAIiOsCMgQWaIQkgBhhBASQMWFiApWFBURnEhVxILVCkidiOKgKLhnQYqIWotVXDjuH9yntX167%2B3t%2B9f7vOec5%2FzOec8PgBESJpHmomoAOVKFPDrYH49PSMTJvYACFUjgBCAQ5svCZwXFAADwA3l4fnSwP%2FwBr28AAgBw1S4kEsfh%2F4O6UCZXACCRAOAiEucLAZBSAMguVMgUAMgYALBTs2QKAJQAAGx5fEIiAKoNAOz0ST4FANipk9wXANiiHKkIAI0BAJkoRyQCQLsAYFWBUiwCwMIAoKxAIi4EwK4BgFm2MkcCgL0FAHaOWJAPQGAAgJlCLMwAIDgCAEMeE80DIEwDoDDSv%2BCpX3CFuEgBAMDLlc2XS9IzFLiV0Bp38vDg4iHiwmyxQmEXKRBmCeQinJebIxNI5wNMzgwAABr50cH%2BOD%2BQ5%2Bbk4eZm52zv9MWi%2FmvwbyI%2BIfHf%2FryMAgQAEE7P79pf5eXWA3DHAbB1v2upWwDaVgBo3%2FldM9sJoFoK0Hr5i3k4%2FEAenqFQyDwdHAoLC%2B0lYqG9MOOLPv8z4W%2Fgi372%2FEAe%2Ftt68ABxmkCZrcCjg%2F1xYW52rlKO58sEQjFu9%2Bcj%2FseFf%2F2OKdHiNLFcLBWK8ViJuFAiTcd5uVKRRCHJleIS6X8y8R%2BW%2FQmTdw0ArIZPwE62B7XLbMB%2B7gECiw5Y0nYAQH7zLYwaC5EAEGc0Mnn3AACTv%2FmPQCsBAM2XpOMAALzoGFyolBdMxggAAESggSqwQQcMwRSswA6cwR28wBcCYQZEQAwkwDwQQgbkgBwKoRiWQRlUwDrYBLWwAxqgEZrhELTBMTgN5%2BASXIHrcBcGYBiewhi8hgkEQcgIE2EhOogRYo7YIs4IF5mOBCJhSDSSgKQg6YgUUSLFyHKkAqlCapFdSCPyLXIUOY1cQPqQ28ggMor8irxHMZSBslED1AJ1QLmoHxqKxqBz0XQ0D12AlqJr0Rq0Hj2AtqKn0UvodXQAfYqOY4DRMQ5mjNlhXIyHRWCJWBomxxZj5Vg1Vo81Yx1YN3YVG8CeYe8IJAKLgBPsCF6EEMJsgpCQR1hMWEOoJewjtBK6CFcJg4Qxwicik6hPtCV6EvnEeGI6sZBYRqwm7iEeIZ4lXicOE1%2BTSCQOyZLkTgohJZAySQtJa0jbSC2kU6Q%2B0hBpnEwm65Btyd7kCLKArCCXkbeQD5BPkvvJw%2BS3FDrFiOJMCaIkUqSUEko1ZT%2FlBKWfMkKZoKpRzame1AiqiDqfWkltoHZQL1OHqRM0dZolzZsWQ8ukLaPV0JppZ2n3aC%2FpdLoJ3YMeRZfQl9Jr6Afp5%2BmD9HcMDYYNg8dIYigZaxl7GacYtxkvmUymBdOXmchUMNcyG5lnmA%2BYb1VYKvYqfBWRyhKVOpVWlX6V56pUVXNVP9V5qgtUq1UPq15WfaZGVbNQ46kJ1Bar1akdVbupNq7OUndSj1DPUV%2Bjvl%2F9gvpjDbKGhUaghkijVGO3xhmNIRbGMmXxWELWclYD6yxrmE1iW7L57Ex2Bfsbdi97TFNDc6pmrGaRZp3mcc0BDsax4PA52ZxKziHODc57LQMtPy2x1mqtZq1%2BrTfaetq%2B2mLtcu0W7eva73VwnUCdLJ31Om0693UJuja6UbqFutt1z%2Bo%2B02PreekJ9cr1Dund0Uf1bfSj9Rfq79bv0R83MDQINpAZbDE4Y%2FDMkGPoa5hpuNHwhOGoEctoupHEaKPRSaMnuCbuh2fjNXgXPmasbxxirDTeZdxrPGFiaTLbpMSkxeS%2BKc2Ua5pmutG003TMzMgs3KzYrMnsjjnVnGueYb7ZvNv8jYWlRZzFSos2i8eW2pZ8ywWWTZb3rJhWPlZ5VvVW16xJ1lzrLOtt1ldsUBtXmwybOpvLtqitm63Edptt3xTiFI8p0in1U27aMez87ArsmuwG7Tn2YfYl9m32zx3MHBId1jt0O3xydHXMdmxwvOuk4TTDqcSpw%2BlXZxtnoXOd8zUXpkuQyxKXdpcXU22niqdun3rLleUa7rrStdP1o5u7m9yt2W3U3cw9xX2r%2B00umxvJXcM970H08PdY4nHM452nm6fC85DnL152Xlle%2B70eT7OcJp7WMG3I28Rb4L3Le2A6Pj1l%2Bs7pAz7GPgKfep%2BHvqa%2BIt89viN%2B1n6Zfgf8nvs7%2Bsv9j%2Fi%2F4XnyFvFOBWABwQHlAb2BGoGzA2sDHwSZBKUHNQWNBbsGLww%2BFUIMCQ1ZH3KTb8AX8hv5YzPcZyya0RXKCJ0VWhv6MMwmTB7WEY6GzwjfEH5vpvlM6cy2CIjgR2yIuB9pGZkX%2BX0UKSoyqi7qUbRTdHF09yzWrORZ%2B2e9jvGPqYy5O9tqtnJ2Z6xqbFJsY%2BybuIC4qriBeIf4RfGXEnQTJAntieTE2MQ9ieNzAudsmjOc5JpUlnRjruXcorkX5unOy553PFk1WZB8OIWYEpeyP%2BWDIEJQLxhP5aduTR0T8oSbhU9FvqKNolGxt7hKPJLmnVaV9jjdO31D%2BmiGT0Z1xjMJT1IreZEZkrkj801WRNberM%2FZcdktOZSclJyjUg1plrQr1zC3KLdPZisrkw3keeZtyhuTh8r35CP5c%2FPbFWyFTNGjtFKuUA4WTC%2BoK3hbGFt4uEi9SFrUM99m%2Fur5IwuCFny9kLBQuLCz2Lh4WfHgIr9FuxYji1MXdy4xXVK6ZHhp8NJ9y2jLspb9UOJYUlXyannc8o5Sg9KlpUMrglc0lamUycturvRauWMVYZVkVe9ql9VbVn8qF5VfrHCsqK74sEa45uJXTl%2FVfPV5bdra3kq3yu3rSOuk626s91m%2Fr0q9akHV0IbwDa0b8Y3lG19tSt50oXpq9Y7NtM3KzQM1YTXtW8y2rNvyoTaj9nqdf13LVv2tq7e%2B2Sba1r%2Fdd3vzDoMdFTve75TsvLUreFdrvUV99W7S7oLdjxpiG7q%2F5n7duEd3T8Wej3ulewf2Re%2FranRvbNyvv7%2ByCW1SNo0eSDpw5ZuAb9qb7Zp3tXBaKg7CQeXBJ9%2BmfHvjUOihzsPcw83fmX%2B39QjrSHkr0jq%2Fdawto22gPaG97%2BiMo50dXh1Hvrf%2Ffu8x42N1xzWPV56gnSg98fnkgpPjp2Snnp1OPz3Umdx590z8mWtdUV29Z0PPnj8XdO5Mt1%2F3yfPe549d8Lxw9CL3Ytslt0utPa49R35w%2FeFIr1tv62X3y%2B1XPK509E3rO9Hv03%2F6asDVc9f41y5dn3m978bsG7duJt0cuCW69fh29u0XdwruTNxdeo94r%2Fy%2B2v3qB%2FoP6n%2B0%2FrFlwG3g%2BGDAYM%2FDWQ%2FvDgmHnv6U%2F9OH4dJHzEfVI0YjjY%2BdHx8bDRq98mTOk%2BGnsqcTz8p%2BVv9563Or59%2F94vtLz1j82PAL%2BYvPv655qfNy76uprzrHI8cfvM55PfGm%2FK3O233vuO%2B638e9H5ko%2FED%2BUPPR%2BmPHp9BP9z7nfP78L%2FeE8%2FstRzjPAAAAIGNIUk0AAHomAACAhAAA%2BgAAAIDoAAB1MAAA6mAAADqYAAAXcJy6UTwAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAUkaVRYdFhNTDpjb20uYWRvYmUueG1wAAAAAAA8P3hwYWNrZXQgYmVnaW49Iu%2B7vyIgaWQ9Ilc1TTBNcENlaGlIenJlU3pOVGN6a2M5ZCI%2FPiA8eDp4bXBtZXRhIHhtbG5zOng9ImFkb2JlOm5zOm1ldGEvIiB4OnhtcHRrPSJBZG9iZSBYTVAgQ29yZSA5LjEtYzAwMiA3OS5iN2M2NGNjLCAyMDI0LzA3LzE2LTA3OjU5OjQwICAgICAgICAiPiA8cmRmOlJERiB4bWxuczpyZGY9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkvMDIvMjItcmRmLXN5bnRheC1ucyMiPiA8cmRmOkRlc2NyaXB0aW9uIHJkZjphYm91dD0iIiB4bWxuczp4bXA9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC8iIHhtbG5zOmRjPSJodHRwOi8vcHVybC5vcmcvZGMvZWxlbWVudHMvMS4xLyIgeG1sbnM6cGhvdG9zaG9wPSJodHRwOi8vbnMuYWRvYmUuY29tL3Bob3Rvc2hvcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RFdnQ9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZUV2ZW50IyIgeG1wOkNyZWF0b3JUb29sPSJBZG9iZSBQaG90b3Nob3AgMjYuMCAoMjAyNDA5MjUubS4yNzg3IDFjNDA4ZTApICAoV2luZG93cykiIHhtcDpDcmVhdGVEYXRlPSIyMDI0LTEwLTMwVDE1OjMwOjU4KzA5OjAwIiB4bXA6TW9kaWZ5RGF0ZT0iMjAyNC0xMC0zMFQxNjoxMDowMSswOTowMCIgeG1wOk1ldGFkYXRhRGF0ZT0iMjAyNC0xMC0zMFQxNjoxMDowMSswOTowMCIgZGM6Zm9ybWF0PSJpbWFnZS9wbmciIHBob3Rvc2hvcDpDb2xvck1vZGU9IjMiIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6ODExYWRhZGUtNWNiZS05MzRjLWEwYTQtMTMyNGY2MGRkMWE0IiB4bXBNTTpEb2N1bWVudElEPSJ4bXAuZGlkOjgxMWFkYWRlLTVjYmUtOTM0Yy1hMGE0LTEzMjRmNjBkZDFhNCIgeG1wTU06T3JpZ2luYWxEb2N1bWVudElEPSJ4bXAuZGlkOjgxMWFkYWRlLTVjYmUtOTM0Yy1hMGE0LTEzMjRmNjBkZDFhNCI%2BIDx4bXBNTTpIaXN0b3J5PiA8cmRmOlNlcT4gPHJkZjpsaSBzdEV2dDphY3Rpb249ImNyZWF0ZWQiIHN0RXZ0Omluc3RhbmNlSUQ9InhtcC5paWQ6ODExYWRhZGUtNWNiZS05MzRjLWEwYTQtMTMyNGY2MGRkMWE0IiBzdEV2dDp3aGVuPSIyMDI0LTEwLTMwVDE1OjMwOjU4KzA5OjAwIiBzdEV2dDpzb2Z0d2FyZUFnZW50PSJBZG9iZSBQaG90b3Nob3AgMjYuMCAoMjAyNDA5MjUubS4yNzg3IDFjNDA4ZTApICAoV2luZG93cykiLz4gPC9yZGY6U2VxPiA8L3htcE1NOkhpc3Rvcnk%2BIDwvcmRmOkRlc2NyaXB0aW9uPiA8L3JkZjpSREY%2BIDwveDp4bXBtZXRhPiA8P3hwYWNrZXQgZW5kPSJyIj8%2BExN%2BOQAAAftQTFRFdE%2F8dE%2F8dE%2F8dE%2F8dE%2F8dE%2F8dE%2F8dE%2F8dE%2F8dE%2F8dE%2F8dE%2F8dE%2F8dE%2F8dE%2F8dE%2F8dE%2F8dE%2F8dE%2F8dE%2F8dE%2F8dE%2F8dE%2F8dE%2F8dE%2F8dE%2F8dE%2F8dE%2F8dE%2F8dE%2F8dE%2F8dE%2F8dE%2F8dE%2F8dE%2F8dE%2F8dE%2F8dE%2F8dE%2F8dE%2F8dE%2F8dE%2F8dE%2F8dE%2F8dE%2F8dE%2F8dE%2F8dE%2F8dE%2F8dE%2F8dE%2F8dE%2F8dE%2F8dE%2F8dE%2F8dE%2F8dE%2F8dE%2F8dE%2F8dE%2F8dE%2F8dE%2F8dE%2F8dE%2F8dE%2F8dE%2F8dE%2F8dE%2F8dE%2F8dE%2F8dE%2F8dE%2F8dE%2F8dE%2F8dE%2F8dE%2F8dE%2F8dE%2F8dE%2F8dE%2F8dE%2F8dE%2F8dE%2F8dE%2F8dE%2F8dE%2F8dE%2F8dE%2F8dE%2F8dE%2F8dE%2F8dE%2F8dE%2F8dE%2F8dE%2F8dE%2F8dE%2F8dE%2F8dE%2F8dE%2F8dE%2F8dE%2F8dE%2F8dE%2F8dE%2F8dE%2F8dE%2F8dE%2F8dE%2F8dE%2F8dE%2F8dE%2F8dE%2F8dE%2F8dE%2F8dE%2F8dE%2F8dE%2F8dE%2F8dE%2F8dE%2F8dE%2F8dE%2F8dE%2F8dE%2F8dE%2F8dE%2F8dE%2F8dE%2F8dE%2F8dE%2F8dE%2F8dE%2F8dE%2F8dE%2F8dE%2F8dE%2F8dE%2F8dE%2F8dE%2F8dE%2F8dE%2F8dE%2F8dE%2F8dE%2F8dE%2F8dE%2F8dE%2F8dE%2F8dE%2F8dE%2F8dE%2F8dE%2F8dE%2F8dE%2F8dE%2F8dE%2F8dE%2F8dE%2F8dE%2F8dE%2F8dE%2F8dE%2F8dE%2F8dE%2F8dE%2F8dE%2F8dE%2F8dE%2F8sHYzWQAAAKh0Uk5TAAECAwYHCAkKCwwNDhESExQVFxgZGxwdHh8gIyYnKSowMTI1Njg5PD4%2FQEFCQ0RFRklKS0xNTk9QUVRVVldYWVpcYWJjZGVnamxtc3R1dnd4eXp8fX6BhIWGh4iJjI2Oj5CRkpSVlpednqChoqOqq6yur7S1tri5u7y9vr%2FAwcLDxcjLzM3O0NHS09XW19jZ29ze4eLm6Orr7O3u7%2FLz9ff4%2Bfr7%2FP3%2B%2FZmOOQAAA3hJREFUGBmdwQtDU2UAx%2BEfGRAJQlIRRNiVDLVWdhFLlFAXJJRoJXPlCKzookCS2cULSyFQuUQJ2oaFyP9j9h62nTO297BDz4Of%2BpaewdGZ%2BURifmZ0sKelng1pik0ox0SsiYCquiZlNdlVRWEVPQn5SkQqKKDjttZ1u4P1NFxUQRcb8NW2ogBW2vBxSgGdwuqsAjuLxYg2YIQ8Q9qQIXL0ynHpgs0VWfSyRqscR7A7IYtWstRo1bPY7ZJNDZ4xrXoZu72yGcMVVsrT2O2QVZi0kiWlfIJdv6yWSkiJKuP61Wv5rk7JR5RVZcv6n5bLcHTKszx1%2FcZak9Mr8tWJY06eW0XkKpe%2FOYxGZblFnsrphHw1An3KVkqusqKt4%2FLTB8woy5VNWBSPy8cM1CnLb8VYFY%2FLRx375YlvwuJEOxT%2FLrv9ROXZjsX7Ujs89K%2BsogzLs518RyQdAxZlNUxcnhB5dksKAyXPfDwpiziz8oTIE5LCpO348i%2FlmmVBnhD5du7EU7pv6J7WWCApT4jCHo8oW5KkPCGCCClLkgV5XiGQffIsMCvPLoK5LNcscXleJZhmueIMy9NJMLVyDROV5wbBVN1TRpQDynKIQLYuKeMAdcp2kCAek6sOZpRluIgASs4pbQbok%2BdHXM93t3c%2Fh6vpg%2FZj23BdU0of0CjX0maMikqMbZIaMCorMF6QVIPxyGaMJ5TSiDGnjK8wosnF0xh9%2Bhzji8XkSYwz%2BhB44Jt%2F7nRjfC%2FHHI5OZbwNHJZxFNiyZwvQLeMQ8Oieh4GYjGbgPTk6cZQtK%2B0l4FcZ42RMyPiFjD9lnAFaZCyXsSqqtNeAz2R8i1GO8Z2MTzHKMc7L6ALelRElpWRJKR8B5XHpxlbgUPIgUH1TipcDR5NvAk%2FOST8%2FCJyWtFRCWlgpf%2BBo3luEMaWbGEV7m3Hc0hWM0nfewPG3pDCuMaUcwxWWdBjXcUlv4eqXNIanRmmtpL0ux27SWmWsvEhah4wasrQqrb8Wo%2FqkUiLVGLX9SjleifHU1zJaWaNXafd%2FGhg4f1cZd38YGLhwXxmJcwMDF%2BXoJceQNmSIPCPagBEsBhXYIFYxBRTDR9uKAlhpw1fDJRV0qYH1dNzRuu50UEBFJCFfiUgFhVV1TcpqsquKgJpiE8oxEWtiQ%2BpbIoOj0%2FOJxPz06GCkpR4f%2FwG06Vv3WN2UdgAAAABJRU5ErkJggg%3D%3D',
          alt: 'Tag : RollereBlade',
        },
        {
          src: 'https://img.shields.io/badge/Traveling-%23436446?logo=data%3Aimage%2Fpng%3Bbase64%2CiVBORw0KGgoAAAANSUhEUgAAAEAAAABACAMAAACdt4HsAAAABGdBTUEAALGPC%2FxhBQAACklpQ0NQc1JHQiBJRUM2MTk2Ni0yLjEAAEiJnVN3WJP3Fj7f92UPVkLY8LGXbIEAIiOsCMgQWaIQkgBhhBASQMWFiApWFBURnEhVxILVCkidiOKgKLhnQYqIWotVXDjuH9yntX167%2B3t%2B9f7vOec5%2FzOec8PgBESJpHmomoAOVKFPDrYH49PSMTJvYACFUjgBCAQ5svCZwXFAADwA3l4fnSwP%2FwBr28AAgBw1S4kEsfh%2F4O6UCZXACCRAOAiEucLAZBSAMguVMgUAMgYALBTs2QKAJQAAGx5fEIiAKoNAOz0ST4FANipk9wXANiiHKkIAI0BAJkoRyQCQLsAYFWBUiwCwMIAoKxAIi4EwK4BgFm2MkcCgL0FAHaOWJAPQGAAgJlCLMwAIDgCAEMeE80DIEwDoDDSv%2BCpX3CFuEgBAMDLlc2XS9IzFLiV0Bp38vDg4iHiwmyxQmEXKRBmCeQinJebIxNI5wNMzgwAABr50cH%2BOD%2BQ5%2Bbk4eZm52zv9MWi%2FmvwbyI%2BIfHf%2FryMAgQAEE7P79pf5eXWA3DHAbB1v2upWwDaVgBo3%2FldM9sJoFoK0Hr5i3k4%2FEAenqFQyDwdHAoLC%2B0lYqG9MOOLPv8z4W%2Fgi372%2FEAe%2Ftt68ABxmkCZrcCjg%2F1xYW52rlKO58sEQjFu9%2Bcj%2FseFf%2F2OKdHiNLFcLBWK8ViJuFAiTcd5uVKRRCHJleIS6X8y8R%2BW%2FQmTdw0ArIZPwE62B7XLbMB%2B7gECiw5Y0nYAQH7zLYwaC5EAEGc0Mnn3AACTv%2FmPQCsBAM2XpOMAALzoGFyolBdMxggAAESggSqwQQcMwRSswA6cwR28wBcCYQZEQAwkwDwQQgbkgBwKoRiWQRlUwDrYBLWwAxqgEZrhELTBMTgN5%2BASXIHrcBcGYBiewhi8hgkEQcgIE2EhOogRYo7YIs4IF5mOBCJhSDSSgKQg6YgUUSLFyHKkAqlCapFdSCPyLXIUOY1cQPqQ28ggMor8irxHMZSBslED1AJ1QLmoHxqKxqBz0XQ0D12AlqJr0Rq0Hj2AtqKn0UvodXQAfYqOY4DRMQ5mjNlhXIyHRWCJWBomxxZj5Vg1Vo81Yx1YN3YVG8CeYe8IJAKLgBPsCF6EEMJsgpCQR1hMWEOoJewjtBK6CFcJg4Qxwicik6hPtCV6EvnEeGI6sZBYRqwm7iEeIZ4lXicOE1%2BTSCQOyZLkTgohJZAySQtJa0jbSC2kU6Q%2B0hBpnEwm65Btyd7kCLKArCCXkbeQD5BPkvvJw%2BS3FDrFiOJMCaIkUqSUEko1ZT%2FlBKWfMkKZoKpRzame1AiqiDqfWkltoHZQL1OHqRM0dZolzZsWQ8ukLaPV0JppZ2n3aC%2FpdLoJ3YMeRZfQl9Jr6Afp5%2BmD9HcMDYYNg8dIYigZaxl7GacYtxkvmUymBdOXmchUMNcyG5lnmA%2BYb1VYKvYqfBWRyhKVOpVWlX6V56pUVXNVP9V5qgtUq1UPq15WfaZGVbNQ46kJ1Bar1akdVbupNq7OUndSj1DPUV%2Bjvl%2F9gvpjDbKGhUaghkijVGO3xhmNIRbGMmXxWELWclYD6yxrmE1iW7L57Ex2Bfsbdi97TFNDc6pmrGaRZp3mcc0BDsax4PA52ZxKziHODc57LQMtPy2x1mqtZq1%2BrTfaetq%2B2mLtcu0W7eva73VwnUCdLJ31Om0693UJuja6UbqFutt1z%2Bo%2B02PreekJ9cr1Dund0Uf1bfSj9Rfq79bv0R83MDQINpAZbDE4Y%2FDMkGPoa5hpuNHwhOGoEctoupHEaKPRSaMnuCbuh2fjNXgXPmasbxxirDTeZdxrPGFiaTLbpMSkxeS%2BKc2Ua5pmutG003TMzMgs3KzYrMnsjjnVnGueYb7ZvNv8jYWlRZzFSos2i8eW2pZ8ywWWTZb3rJhWPlZ5VvVW16xJ1lzrLOtt1ldsUBtXmwybOpvLtqitm63Edptt3xTiFI8p0in1U27aMez87ArsmuwG7Tn2YfYl9m32zx3MHBId1jt0O3xydHXMdmxwvOuk4TTDqcSpw%2BlXZxtnoXOd8zUXpkuQyxKXdpcXU22niqdun3rLleUa7rrStdP1o5u7m9yt2W3U3cw9xX2r%2B00umxvJXcM970H08PdY4nHM452nm6fC85DnL152Xlle%2B70eT7OcJp7WMG3I28Rb4L3Le2A6Pj1l%2Bs7pAz7GPgKfep%2BHvqa%2BIt89viN%2B1n6Zfgf8nvs7%2Bsv9j%2Fi%2F4XnyFvFOBWABwQHlAb2BGoGzA2sDHwSZBKUHNQWNBbsGLww%2BFUIMCQ1ZH3KTb8AX8hv5YzPcZyya0RXKCJ0VWhv6MMwmTB7WEY6GzwjfEH5vpvlM6cy2CIjgR2yIuB9pGZkX%2BX0UKSoyqi7qUbRTdHF09yzWrORZ%2B2e9jvGPqYy5O9tqtnJ2Z6xqbFJsY%2BybuIC4qriBeIf4RfGXEnQTJAntieTE2MQ9ieNzAudsmjOc5JpUlnRjruXcorkX5unOy553PFk1WZB8OIWYEpeyP%2BWDIEJQLxhP5aduTR0T8oSbhU9FvqKNolGxt7hKPJLmnVaV9jjdO31D%2BmiGT0Z1xjMJT1IreZEZkrkj801WRNberM%2FZcdktOZSclJyjUg1plrQr1zC3KLdPZisrkw3keeZtyhuTh8r35CP5c%2FPbFWyFTNGjtFKuUA4WTC%2BoK3hbGFt4uEi9SFrUM99m%2Fur5IwuCFny9kLBQuLCz2Lh4WfHgIr9FuxYji1MXdy4xXVK6ZHhp8NJ9y2jLspb9UOJYUlXyannc8o5Sg9KlpUMrglc0lamUycturvRauWMVYZVkVe9ql9VbVn8qF5VfrHCsqK74sEa45uJXTl%2FVfPV5bdra3kq3yu3rSOuk626s91m%2Fr0q9akHV0IbwDa0b8Y3lG19tSt50oXpq9Y7NtM3KzQM1YTXtW8y2rNvyoTaj9nqdf13LVv2tq7e%2B2Sba1r%2Fdd3vzDoMdFTve75TsvLUreFdrvUV99W7S7oLdjxpiG7q%2F5n7duEd3T8Wej3ulewf2Re%2FranRvbNyvv7%2ByCW1SNo0eSDpw5ZuAb9qb7Zp3tXBaKg7CQeXBJ9%2BmfHvjUOihzsPcw83fmX%2B39QjrSHkr0jq%2Fdawto22gPaG97%2BiMo50dXh1Hvrf%2Ffu8x42N1xzWPV56gnSg98fnkgpPjp2Snnp1OPz3Umdx590z8mWtdUV29Z0PPnj8XdO5Mt1%2F3yfPe549d8Lxw9CL3Ytslt0utPa49R35w%2FeFIr1tv62X3y%2B1XPK509E3rO9Hv03%2F6asDVc9f41y5dn3m978bsG7duJt0cuCW69fh29u0XdwruTNxdeo94r%2Fy%2B2v3qB%2FoP6n%2B0%2FrFlwG3g%2BGDAYM%2FDWQ%2FvDgmHnv6U%2F9OH4dJHzEfVI0YjjY%2BdHx8bDRq98mTOk%2BGnsqcTz8p%2BVv9563Or59%2F94vtLz1j82PAL%2BYvPv655qfNy76uprzrHI8cfvM55PfGm%2FK3O233vuO%2B638e9H5ko%2FED%2BUPPR%2BmPHp9BP9z7nfP78L%2FeE8%2FstRzjPAAAAIGNIUk0AAHomAACAhAAA%2BgAAAIDoAAB1MAAA6mAAADqYAAAXcJy6UTwAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAYMaVRYdFhNTDpjb20uYWRvYmUueG1wAAAAAAA8P3hwYWNrZXQgYmVnaW49Iu%2B7vyIgaWQ9Ilc1TTBNcENlaGlIenJlU3pOVGN6a2M5ZCI%2FPiA8eDp4bXBtZXRhIHhtbG5zOng9ImFkb2JlOm5zOm1ldGEvIiB4OnhtcHRrPSJBZG9iZSBYTVAgQ29yZSA5LjEtYzAwMiA3OS5iN2M2NGNjLCAyMDI0LzA3LzE2LTA3OjU5OjQwICAgICAgICAiPiA8cmRmOlJERiB4bWxuczpyZGY9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkvMDIvMjItcmRmLXN5bnRheC1ucyMiPiA8cmRmOkRlc2NyaXB0aW9uIHJkZjphYm91dD0iIiB4bWxuczp4bXA9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC8iIHhtbG5zOmRjPSJodHRwOi8vcHVybC5vcmcvZGMvZWxlbWVudHMvMS4xLyIgeG1sbnM6cGhvdG9zaG9wPSJodHRwOi8vbnMuYWRvYmUuY29tL3Bob3Rvc2hvcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RFdnQ9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZUV2ZW50IyIgeG1wOkNyZWF0b3JUb29sPSJBZG9iZSBQaG90b3Nob3AgMjYuMCAoMjAyNDA5MjUubS4yNzg3IDFjNDA4ZTApICAoV2luZG93cykiIHhtcDpDcmVhdGVEYXRlPSIyMDI0LTEwLTMwVDE1OjI5OjU0KzA5OjAwIiB4bXA6TW9kaWZ5RGF0ZT0iMjAyNC0xMC0zMFQxNjozMDoxMiswOTowMCIgeG1wOk1ldGFkYXRhRGF0ZT0iMjAyNC0xMC0zMFQxNjozMDoxMiswOTowMCIgZGM6Zm9ybWF0PSJpbWFnZS9wbmciIHBob3Rvc2hvcDpDb2xvck1vZGU9IjMiIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6MGMyZjg3MTgtMjBhMy01ZjRlLWJmYjYtYmFiZmE2MjUyMmExIiB4bXBNTTpEb2N1bWVudElEPSJ4bXAuZGlkOjFiZGJkMjcxLWNlMDgtY2Y0Yy05ZDU1LWJmMzE3ZTE4MjIxYSIgeG1wTU06T3JpZ2luYWxEb2N1bWVudElEPSJ4bXAuZGlkOjFiZGJkMjcxLWNlMDgtY2Y0Yy05ZDU1LWJmMzE3ZTE4MjIxYSI%2BIDx4bXBNTTpIaXN0b3J5PiA8cmRmOlNlcT4gPHJkZjpsaSBzdEV2dDphY3Rpb249ImNyZWF0ZWQiIHN0RXZ0Omluc3RhbmNlSUQ9InhtcC5paWQ6MWJkYmQyNzEtY2UwOC1jZjRjLTlkNTUtYmYzMTdlMTgyMjFhIiBzdEV2dDp3aGVuPSIyMDI0LTEwLTMwVDE1OjI5OjU0KzA5OjAwIiBzdEV2dDpzb2Z0d2FyZUFnZW50PSJBZG9iZSBQaG90b3Nob3AgMjYuMCAoMjAyNDA5MjUubS4yNzg3IDFjNDA4ZTApICAoV2luZG93cykiLz4gPHJkZjpsaSBzdEV2dDphY3Rpb249InNhdmVkIiBzdEV2dDppbnN0YW5jZUlEPSJ4bXAuaWlkOjBjMmY4NzE4LTIwYTMtNWY0ZS1iZmI2LWJhYmZhNjI1MjJhMSIgc3RFdnQ6d2hlbj0iMjAyNC0xMC0zMFQxNjozMDoxMiswOTowMCIgc3RFdnQ6c29mdHdhcmVBZ2VudD0iQWRvYmUgUGhvdG9zaG9wIDI2LjAgKDIwMjQxMDAyLm0uMjc5NSA2YWJkNWNmKSAgKFdpbmRvd3MpIiBzdEV2dDpjaGFuZ2VkPSIvIi8%2BIDwvcmRmOlNlcT4gPC94bXBNTTpIaXN0b3J5PiA8L3JkZjpEZXNjcmlwdGlvbj4gPC9yZGY6UkRGPiA8L3g6eG1wbWV0YT4gPD94cGFja2V0IGVuZD0iciI%2FPmGDl9sAAAKpUExURf%2F%2F%2F1WJ6FWJ6FWJ6FWJ6FWJ6FWJ6FWJ6FWJ6FWJ6FWJ6FWJ6FWJ6FWJ6FWJ6FWJ6FWJ6FWJ6FWJ6FWJ6FWJ6FWJ6FWJ6FWJ6FWJ6FWJ6FWJ6FWJ6FWJ6FWJ6FWJ6FWJ6FWJ6FWJ6FWJ6FWJ6FWJ6FWJ6FWJ6FWJ6FWJ6FWJ6FWJ6FWJ6FWJ6FWJ6FWJ6FWJ6FWJ6FWJ6FWJ6FWJ6FWJ6FWJ6FWJ6FWJ6FWJ6FWJ6FWJ6FWJ6FWJ6FWJ6FWJ6FWJ6FWJ6FWJ6FWJ6FWJ6FWJ6FWJ6FWJ6FWJ6FWJ6FWJ6FWJ6FWJ6FWJ6FWJ6FWJ6FWJ6FWJ6FWJ6FWJ6FWJ6FWJ6FWJ6FWJ6FWJ6FWJ6FWJ6FWJ6FWJ6FWJ6FWJ6FWJ6FWJ6FWJ6FWJ6FWJ6FWJ6FWJ6FWJ6FWJ6FWJ6FWJ6FWJ6FWJ6FWJ6FWJ6FWJ6FWJ6FWJ6FWJ6FWJ6FWJ6FWJ6FWJ6FWJ6FWJ6FWJ6FWJ6FWJ6FWJ6FWJ6FWJ6FWJ6FWJ6FWJ6FWJ6FWJ6FWJ6FWJ6FWJ6FWJ6FWJ6FWJ6FWJ6FWJ6FWJ6FWJ6FWJ6FWJ6FWJ6FWJ6FWJ6FWJ6FWJ6FWJ6FWJ6FWJ6FWJ6FWJ6FWJ6FWJ6FWJ6FWJ6FWJ6FWJ6FWJ6FWJ6FWJ6FWJ6FWJ6FWJ6FWJ6FWJ6FWJ6FWJ6FWJ6FWJ6FWJ6FWJ6FWJ6FWJ6FWJ6FWJ6FWJ6FWJ6FWJ6FWJ6FWJ6FWJ6FWJ6FWJ6FWJ6FWJ6FWJ6FWJ6FWJ6FWJ6FWJ6FWJ6FWJ6FWJ6FWJ6FWJ6FWJ6FWJ6FWJ6FWJ6FWJ6FWJ6FWJ6FWJ6FWJ6FWJ6FWJ6FWJ6FWJ6FWJ6FWJ6FWJ6FWJ6FWJ6FWJ6FWJ6FWJ6FWJ6FWJ6FWJ6FWJ6FWJ6FWJ6FWJ6FWJ6FWJ6FWJ6EPa5zEAAADidFJOUwABAgMEBQYHCAkKCwwNDg8QERITFBUWFxgZGhscHh8hIiMkJSYnKCkqKywtLi8wMjM0NTY3ODk6Ozw9Pj9AQUJFR0hKS05PUFFSU1RVVldYWlxdXmBhYmNkZWZnaWtsbW5vcHJzdHZ3eHl6fH1%2Bf4CBgoOEhYaHiYqMjY6PkJGSk5WXmJmam5yen6ChoqOkpaanqKmqq6ytr7Gys7S1tre4ubq7vL2%2Bv8DBwsPFxsfIycrMzc7P0NHS09TV19jZ2tvc3d7f4OLj5OXm5%2Bjp6uvs7e7v8PHy8%2FT19vj5%2Bvv8%2Ff4ARWbkAAAEGUlEQVQYGc3BCVcVZQAG4FcMJUoFCYwkzTSLwsIMS6CMpNRcoVCvihuWBTdNClxyN0lJQyPSSm0lA0XCRBNRjNTcLqImGGLA%2B0ua%2BWb75t4ZiTqd0%2FPgf6zf1E3VN2loP1HkGYQuGLezhQFKp4fg75lZQ2cXvL3QubE1tPy4dOqzyVMXfXSMGl8mOhG2nZIlMAyd8wOF8kdwO6MvUZYByZh2CjPgLpN2tyZCkkDNGrjJZYCdw2GZS00JnOXRya5EmE5S8xmcvEYXm0Oge4W6bQiUSlfLoQttpc4Lf1EddDUZhnIakuGnim58qTCto6EpGDaz6GZ7OCxv0bQVstA2upgH2S5a4iBZTRevQzagg5ZKWPrQTQxkxykbAZOX5MELdHAoCaaoCtrshekieXFYIy31zTT0h27mVfqJgi6J5Cpco%2BGTwQh%2FqYyavlDF5J5igCzo1pF8Gvuo2w0hh6q9UKW00EEFdCfJRiCLmtYIaGZSEQ9FDB11hEOIIVkERFJzFgYPuQCqD%2BjsRQjjSM4GsJ1CaxQM8fEQTtPZ2xCyST4DIJqag9H3jF21EBIfnRVDKCA7oqFYSM2tFpJPwrKFziohfEH6gqAqpGUBLD2WNdJJPYRyshaaJTTlQdZ7ro%2BBLkOoJKuhG%2FZhCzWFsAuvY4AmCAfIozD1m1byOxUn4GcKAzRBKCXrIAvzXCT5KOzGMUADhE9J9oZNZAN5tBtsXmCAUxB2sOHYfbBbQfL4y5B1L6O%2FfRASU0PgbyNV1wtHQrKkjnZb4GbkTapuVU6GzcDH51DyBgzdgyDpsYyK6qUJcJDSTlMSNJO%2BPPfbd4ufC4UuJHtn1ZqnYIh8%2BE5IqmhoDYEq7CtqLn%2BeNRx20RNWHmWdB0jLgC65gYY9EGIpOb1txlDoBs%2F7ppVkfggyjpC1A6B6j5Z0aDL%2FpE3NxikxuGvat1QdBjJ%2BpaoYijxa2u6G7oE99NNW5aOmbH4jNWVQ3KClAJbp19mpKVDkt9E0CJJ7i9mJHRDu%2F5i6EthNvsTb2QzdKOr6wU%2Bvd3x00zILhk3ULIbQdwgslXRRGAND0FUKdRDym3gsA0JYXjOdFcXDEnSewoMQqDo8AcCCK3TUvCEONiPaqZgEzWoKX8%2BtpqNDafC3uoOkF7rgP%2Bju%2FLuRQFxPyB76iYrlMHnowrf%2BMWDImit8HpJ5bVTkQlJBB6c3jQEivPVUTIMppYKq2ZCl09%2FB3GQAOUeoyYGm%2B8TvqTozCrInzlF2YvOrA6HqT8P7UESkrj1LoSAUNrU0%2FbLVEwtTAnV7gT4HblBTMRp%2B3qSq6cDa9FjYjafmZ6AnNfvHI1CcZ1FGQjgczKdw7Q7gAskz6xPQRSuo8gWhR%2Blub2I3dF0xFdlAMP6p%2FWQB%2Fo2IlWn4b%2F0FN6WNMwA8UWIAAAAASUVORK5CYII%3D',
          alt: 'Tag : Traveling',
        },
        {
          src: 'https://img.shields.io/badge/DigitalArt-gray?logo=adobephotoshop',
          alt: 'Tag : DigitalArt',
        }
    ]}
    image={{
      src: '~/assets/images/Profile.jpg',
      alt: 'Profile',
      loading: 'eager',
    }}
  >
    <Fragment slot="content">
      <h2 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">About Me</h2>
      <p class="text-sm text-neutral-700">
        1997.04.05 - INFP~ENFP
      </p>
      <br>
      <p>
        Welcome! I'm a <b>Programmer</b> who wanna develop some interesting game with touching story.<br />
        And always studying new design pattern and algorithm.&#128516;<br />
        Currently I'm working on my indie project, it'll be update to the blog page later soon.
      </p>
      <br />
      <b>Tools & Skills: </b>
      <p style="display: flex; flex-wrap: wrap; gap: 5px; align-items: center;">
        <img
          src="https://img.shields.io/badge/JetBrains-Rider-red?logo=rider"
          alt="JetBrains Rider"
        />
        <img
          src="https://img.shields.io/badge/VisualStudio-Code-blue"
          alt="VisualStudio Code"
        />
        <img
          src="https://img.shields.io/badge/VisualStudio-2022-purple"
          alt="VisualStudio 2022"
        />
        <img
          src="https://img.shields.io/badge/Unity-gray?logo=unity"
          alt="Unity"
        />
        <img
          src="https://img.shields.io/badge/Photoshop-gray?logo=adobephotoshop"
          alt="Photoshop"
        />
        <img
          src="https://img.shields.io/badge/C%23-white?logo=sharp&logoColor=gray"
          alt="C#r"
        />
        <img
          src="https://img.shields.io/badge/C%2B%2B-white?logo=cplusplus&logoColor=gray"
          alt="C++"
        />
        <img
          src="https://img.shields.io/badge/Photon-white?logo=photon&logoColor=gray"
          alt="Photon"
        />
      </p>

      <br />
      <b>Learning: </b>
      <p style="display: flex; flex-wrap: wrap; gap: 5px; align-items: center;">
        <img
          src="https://img.shields.io/badge/DirectX-black"
          alt="DirectX"
        />
        <img
          src="https://img.shields.io/badge/ShaderLab-gray"
          alt="ShaderLab"
        />
        <img
          src="https://img.shields.io/badge/Unreal_5-gray?logo=unrealengine"
          alt="Unreal5"
        />
        <img
          src="https://img.shields.io/badge/GoDot-gray?logo=godotengine&logoColor=blue"
          alt="GoDot"
        />
        <img
          src="https://img.shields.io/badge/Blender-gray?logo=blender"
          alt="Blender"
        />
        <img
          src="https://img.shields.io/badge/Html-white?logo=html5&logoColor=gray"
          alt="Html"
        />
        <img
          src="https://img.shields.io/badge/CSS-white?logo=css3&logoColor=gray"
          alt="CSS"
        />
        <img
          src="https://img.shields.io/badge/JavaScript-white?logo=javascript&logoColor=gray"
          alt="JavaScript"
        />
        <img
          src="https://img.shields.io/badge/Astro-white?logo=astro&logoColor=gray"
          alt="Astro"
        />
      </p>
      <br />
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </ProfileContent>

  <!-- Steps Widget ****************** -->

  <Steps
    id="resume"
    title="Work experience"
    items={[
      {
        title:
          'Contents Programmer <br /> <span class="font-normal"><a href="http://www.airpass.co.kr/ko/" target="_blank" rel="noopener noreferrer">Airpass, Hanam, Korea</a></span> <br /> <span class="text-sm font-normal">2021 / 08 - 2024 / 09</span>',
        description: `- Collaborate with game development team member to develop mini-game by Unity Engine and also Unreal Engine.<br />
          - Creating framework for Unity development and manage git repository.<br />
          - Test the sensor sdk or packaging one from other collaborating company for other team member.<br />
          - Sometimes design game UI.`,
        icon: 'tabler:briefcase',
      },
      {
        title:
          'Graduate and Self-Study<br /> <span class="text-sm font-normal">2019 / 10 - 2021 / 07</span>',
        description: `Have some part-time jobs and self-study`,
        icon: 'tabler:address-book',
      },
    ]}
    classes={{ container: 'max-w-3xl' }}
  />

  <!-- Steps Widget ****************** -->

  <Steps
    id="resume"
    title="Education"
    items={[
      {
        title:
          'Self-Study<br /><span class="font-normal">SNS Game Academy .Korea</span> <br /> <span class="text-sm font-normal">2020 - 2021</span>',
        icon: 'tabler:address-book',
      },
      {
        title: `Bachelor of Digital Media Technology <br /> <span class="font-normal">JiLin Animation Institute .China(4 years university college)</span> <br /> <span class="text-sm font-normal">2015 - 2019</span>`,
        icon: 'tabler:school',
      },
    ]}
    classes={{ container: 'max-w-3xl' }}
  />

  <!-- Features3 Widget ************** -->

  <Features3
    title="Skills"
    subtitle="Discover the proficiencies that allow me to bring imagination to life through design and programming."
    columns={3}
    defaultIcon="tabler:point-filled"
    items={[
      {
        title: 'Game Programming',
        description: 'Familiar with Unity Engine and Photon - Fusion SDK. Have some experience of Unreal Engine 4 and 5.',
      },
      {
        title: 'Communication',
        description: 'Experienced making <b>Restful API</b> communication package for Unity and also coded for Unreal. And socket communication with <b>UDP</b> and <b>TCP</b>. Besides <b>Serial</b> communication and <b>BLE</b> communication also.',
      },
      {
        title: 'Online Game Solution',
        description: 'Using <b>Photon-Fusion</b>, <b>Mirror</b>, <b>FishNet</b> SDK for developing online game for Unity.',
      },
      {
        title: 'Unity Framework Generation',
        description: 'Develop some tools for game development in Unity by <b>Unity Editor Script</b> and <b>C# native library Dll</b>.',
      },
      {
        title: 'Optimization',
        description: 'Optimize & Refactor the code and resources in Unity for better performance.',
      },
      {
        title: 'Game UI Design',
        description: 'Use <b>Photoshop</b> to create concept matched game UI and maybe UX also.',
      },
    ]}
  />

  <!-- Content Widget **************** -->

  <Content
    id="portfolio"
    title="Experienced Projects"
    subtitle="Embark on a design journey that surpasses pixels, entering a realm of imagination. Explore my portfolio, where passion and creativity converge to shape enthralling visual narratives."
    isReversed
    items={[
      {
        title: 'Description:',
        description:
          'A cartoon style multi-player mini game developed by Unity and Photon Fusion SDK.',
      },
      {
        title: 'Role:',
        description:
          'Game logic and process programming.<br>Scenario and animations for process.<br>Http web request(Restful API) for ranking data.<br>Online and Local multi-play game logi programming.<br>Sensor communication code.<br>UI Design for button and title.',
      },
    ]}
    image={{
      src: 'https://raw.githubusercontent.com/ZenDeiAn/RaindowStudio.com/refs/heads/main/Image/Blog/DonutCrush/Main.png',
      alt: 'DonutCrush Main',
    }}
    callToAction={{
      target: '_blank',
      text: 'go to detail',
      icon: 'tabler:chevron-right',
      href: '#',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        DonutCrush: <br /><span class="text-xl">Project developed while working at Airpass.</span>
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isAfterContent={true}
    items={[
      {
        title: 'Description:',
        description:
          'Designed a captivating event poster for an art and music festival, "ArtWave Fusion," aiming to showcase the synergy between visual art and music genres.',
      },
      {
        title: 'Role:',
        description: `Translated the festival's creative theme into a visually striking poster. Used bold typography, vibrant colors, and abstract elements to depict the fusion of art and music. Ensured the design captured the festival's vibrant atmosphere.`,
      },
    ]}
    image={{
      src: 'https://raw.githubusercontent.com/ZenDeiAn/RaindowStudio.com/refs/heads/main/Image/Blog/RaindowStudioFramwork/Main.png',
      alt: 'RaindowStudioFramework Main',
    }}
    callToAction={{
      target: '_blank',
      text: 'Go to the project',
      icon: 'tabler:chevron-right',
      href: '#',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        RaindowStudio Framework: <br /><span class="text-xl">Develop framework for personal Unity development.</span>
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- BlogLatestPost Widget **************** -->

  <BlogLatestPosts
    id="blog"
    title="Explore my insightful articles on my blog"
    information={`Dive into a realm of design wisdom and creative inspiration, where you'll find invaluable insights, practical tips, and captivating narratives that elevate and enrich your creative journey.`}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 dark:bg-transparent"></div>
    </Fragment>
  </BlogLatestPosts>
</Layout>
